@{
    ViewBag.Title = "Inicio";
 
}

<body>
    @*<h1 class="titulo-font">Sistema de Gestion</h1>
    <div class="seccion">
        <a><img src="~/Imagenes/vendedor.png" class="img-seccion" /></a>
        <button class="btn-seccion">Vendedores</button>
    </div>*@
</body>

@*<link href="~/Estilos/Home.css" rel="stylesheet" />*@

