
@{
    ViewBag.Title = "Nuevo";
}

<link href="~/Estilos/VentasNuevo.css?v=1.2" rel="stylesheet" />

<h1 class="datos">Datos del Cliente</h1>

<div class="divCliente">
    <label class="lblcliente">Dni:</label>
    <input type="Text" placeholder="" value="" id="Dni" class="input-nuevo" />

    <label class="lblcliente" id="idcliente" hidden></label>
    <label class="lblcliente" id="nombrecliente"></label>
    <label class="lblcliente" id="estadocliente"></label>
    <label class="lblcliente" id="direccioncliente"></label>
    <label class="lblcliente" id="telefonocliente"></label>
</div>


<h1 class="datos">Datos de Venta</h1>

<div class="divCliente divDatoVenta">

    <label class="lblcliente">Entrega:</label>
    <input type="Text" placeholder="0" value="$0" id="Entrega" class="input-nuevo" />



    <label id="lblfechacobro" class="lblcliente">Fecha Cobro:</label>
    <input type="date" placeholder="" value="" id="FechaCobro" class="input-nuevo" />

    <label id="lblfechalimite" class="lblcliente">Fecha Limite:</label>
    <input type="date" placeholder="" value="" id="FechaLimite" class="input-nuevo" disabled />



    <br />

    <label id="lblvalorcuota" class="lblcliente">Valor Cuota:</label>
    <input type="Text" placeholder="0" value="$0" id="ValorCuota" class="input-nuevo" />

    <label id="lblturno" class="lblcliente">Turno</label>
    <select id="TurnoCobro" name="select" class="input-nuevo select-modal-personalizado mt-3" required>
        <option value="">Seleccionar</option>
        <option value="mañana">Mañana</option>
        <option value="tarde">Tarde</option>
    </select>

    <label id="lblfranjahoraria" class="lblcliente">Franja Horaria</label>
    <select id="FranjaHorariaCobro" name="select" class="input-nuevo select-modal-personalizado mt-3" required>
        <option value="">Seleccionar</option>
    </select>


    <br />
    <label class="lblcliente">Observacion:</label>
    <input type="Text" placeholder="" value="" id="Observacion" class="input-nuevo obs" />
</div>


<h1 class="datos">Productos</h1>

<table id="grdProductosVenta" class="table table-striped nowrap table-responsive" style="width: 100%;">
    <thead>
        <tr>

            <th>Imagen</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
</table>

<div class="divCliente">

    <div class="divProducto">
        <label class="" id="">Total: </label>
        <label class="" id="precioventa">0</label>
    </div>


    <div class="divProducto">
        <label class="lblentrega" id="">Entrega: </label>
        <label class="" id="lblentrega" placeholder="$0">0</label>
    </div>

    <div class="divProducto">
        <label class="lblpreciorestante" id="">Restante: </label>
        <label class="" id="montorestante">0</label>
    </div>

    <label class="lblcliente" id="idcliente" hidden></label>
    <label class="lblcliente" id="nombrecliente"></label>
    <label class="lblcliente" id="estadocliente"></label>
    <label class="lblcliente" id="direccioncliente"></label>
</div>




<div class="vw-75 d-flex float-lg-end mt-2 mb-4">
    <a class="btn btn-primary btnaccionp" onclick="abrirmodal()">Añadir Producto</a>
    <a class="btn btn-success ms-2 btnaccionp" onclick="registrarVenta()">Registrar Venta</a>
</div>


<div class="modal fade centered-modal-nuevo" id="telefonoModal" tabindex="-1" aria-labelledby="telefonoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="telefonoModalLabel btnaccion">Modificar Telefono</h5>
                <button type="button" class="btn-close btnaccion" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input type="Text" id="mIdCliente" class="input-nuevomodif" hidden />
                <label class="lblNombreInput">Telefono</label>
                <input type="Text" placeholder="" id="mTelefono" class="input-nuevomodif" />
            </div>
            <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnaccion" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnRegistrarModificar" type="button" class="btn btn-primary btnaccion" onclick="AccionBtnTelefono()">Modificar</button>
            </div>
        </div>
    </div>

</div>

<div class="modal fade centered-modal-nuevo" id="clienteModal" tabindex="-1" aria-labelledby="clienteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clienteModalLabel btnaccion">Registrar nuevo cliente</h5>
                <button type="button" class="btn-close btnaccion" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input type="Text" id="IdCliente" class="input-nuevomodif" hidden />
                <label class="lblNombreInput">Nombre</label>
                <input type="Text" placeholder="" id="Nombre" class="input-nuevomodif" />
                <label class="lblNombreInput">Apellido</label>
                <input type="Text" placeholder="" id="Apellido" class="input-nuevomodif" />
                <label class="lblNombreInput">Dni</label>
                <input type="Text" placeholder="" id="DniCliente" class="input-nuevomodif" />
                <label class="lblNombreInput">Direccion</label>
                <input type="Text" placeholder="" id="Direccion" class="input-nuevomodif" />
                <label class="lblNombreInput">Telefono</label>
                <input type="Text" placeholder="" id="Telefono" class="input-nuevomodif" />
                <label class="lblNombreInput">Vendedor</label>
                <select id="Usuarios" name="select" class="input-nuevomodif select-modal-personalizado mt-3">
                    <option value="" selected>Seleccione Vendedor</option>
                </select>
                <label class="lblNombreInput">Zona</label>
                <select id="Zonas" name="select" class="input-nuevomodif select-modal-personalizado mt-2">
                    <option value="" selected>Seleccione Zona</option>
                </select>
                <label id="lblEstados" class="lblNombreInput" hidden>Estado</label>
                <select id="Estados" name="select" class="input-nuevomodif select-modal-personalizado mt-3" hidden>
                    <option value="" selected>Seleccione Estado</option>
                </select>

            </div>
            <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnaccion" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnRegistrarModificar" type="button" class="btn btn-primary btnaccion" onclick="AccionBtnCliente()">Registrar</button>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Imagen Ampliada</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img id="modalImage" src="" class="img-fluid" alt="Imagen Ampliada" />
            </div>
        </div>
    </div>
</div>


<div class="modal fade centered-modal-producto" id="nuevoProductoModal" tabindex="-1" aria-labelledby="nuevoProductoModallLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevoProductoModalLabel">Añadir producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input type="Text" id="IdProducto" class="input-nuevomodif" hidden />

                <label id="lblProducto" class="lblNombreInput">Producto</label>

                <!-- Contenedor para centrar la imagen usando Flexbox -->
                <div class="image-container" style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;">
                    <img id="productoImagen" src="/Content/imagenes/default-image.jpg" alt="Imagen del producto" class="img-fluid" style="object-fit: cover; width: 100px; height: 100px;" />
                </div>

                <select id="Productos" name="select" class="input-nuevomodif select-modal-personalizado mt-3">
                    <option value="" selected>Seleccione Producto</option>
                </select>

                <label id="lblProductoPrecio" class="lblNombreInput" hidden>Producto Precio</label>
                <select id="ProductosPrecio" name="select" class="input-nuevomodif select-modal-personalizado mt-3" hidden>
                    <option value="" selected>Seleccione Producto</option>
                </select>

                <label id="lblProductoCantidad" class="lblNombreInput">Cantidad</label>
                <input type="number" placeholder="1" value="1" id="Cantidad" class="input-nuevomodif" />

                <div class="divPrecio">
                    <label class="lblNombreInput" id="lblpreciototal">Precio Total: $</label>
                    <label class="lblNombreInput" id="precioTotal">0</label>
                </div>

                <div class="divPrecio">
                    <label class="lblNombreInput" id="lblstockTotal"> Stock Total: </label>
                    <label class="lblNombreInput" id="stockTotal">0</label>
                </div>

                <label class="lblNombreInput text-danger" id="d-stock"></label>
                <label class="lblNombreInput text-danger" id="d-productos">No tienes productos</label>

            </div>
            <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnaccion" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnRegistrarModificar" type="button" class="btn btn-primary btnaccion" onclick="nuevoModifProducto()">Añadir</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/JavaScript/Utils/Utils.js"></script>
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

@section scripts{

    <script src="~/JavaScript/VentasNuevo.js?v=1.4"></script>
}


