body {
    background-color: #BDC3C7;
    background-image: url("../Imagenes/Fondo.jpeg");
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 100%;
}



.Login {
    margin: 150px 5px 5px 5px;
    padding-top: 10px;
    width: 30% !important;
    height: 70vh !important;
    position: absolute;
    left: 35%;
    top: 0%;
    color: red;
    border-radius: 20px;
    background-color: white;
    opacity: 0.8;
    word-wrap: break-word;
    min-height: 500px;
}


.Login .imglogo {
    width: 35%;
    height: 35%;
    position: relative;
    left: 32%;
    opacity: 1 !important;
}

.titulo{
    margin-bottom: 30px;
    opacity: 0.9;
}

.Login .titulo .titulo-font {
    display: block;
    opacity: 1 !important;
    background: blue;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255, 1) !important;
    font-size: 2vw;
}



    .titulo-font:hover {
        opacity: 1 !important;
    }


.input-login {
    display: flex;
    border: none;
    border-bottom: 10px;
    border-bottom: solid blue;
    width: 80%;
    display: block;
    position: relative;
    left: 10%;
    font-size: 30px;
    margin-bottom: 40px;
    color: black;
    text-align: center;
    font-size: 1.8vw;
}


    .input-login:active {
        border: none;
        border-bottom: solid blue;
    }
    .input-login::placeholder {
    color: black;
    opacity: 1 !important;
}

    .input-login:hover {
        outline: none !important;
       
    }
    .input-login:focus {
        outline: none !important;
        border-bottom: solid red;
    }

.boton-login {
    display: block;
    width: 50%;

    position: relative;
    left: 7.5vw;
    font-size: 30px;
    background: blue;
    border-radius: 20px;
    border-color: blue;
    color: white;
    font-size: 1.8vw;
}

    .boton-login:hover {
        background: #0D62CF;
    }

    .datos-error {
        margin-top: -25px !important;
        margin-bottom: 10px !important;
    }


@media (max-width: 1450px) {
    .input-login {
        font-size: 2.3vw;
    }

    .boton-login {
        width: 60%;
        left: 5.5vw;
        font-size: 1.5vw;
    }
    
}

@media (max-width: 1350px) {
    .input-login {
        font-size: 2.5vw;
    }

    .Login {
        width: 60% !important;
        height: 70vh !important;
        left: 20%;
    }

    .boton-login {
        width: 70%;
        left: 10.5vw;
        font-size: 2.7vw;
    }
}

    @media (max-width: 1350px) {
        .input-login {
            font-size: 2.5vw;
        }

        .Login {
            width: 40% !important;
            height: 70vh !important;
            left: 30%;
        }

        .boton-login {
            width: 70%;
            left: 5.3vw;
            font-size: 2.7vw;
        }
    }

    @media (max-width: 1250px) {
        .input-login {
            font-size: 2.7vw;
        }

        .Login {
            width: 60% !important;
            height: 70vh !important;
            left: 20%;
        }

        .boton-login {
            width: 70%;
            left: 10.5vw;
            font-size: 3.3vw;
        }
    }

    @media (max-width: 1150px) {
        .input-login {
            font-size: 2.9vw;
        }

        .Login {
            width: 50% !important;
            height: 70vh !important;
            left: 23%;
        }

        .boton-login {
            width: 70%;
            left: 8vw;
            font-size: 3.3vw;
        }
    }

    @media (max-width: 1050px) {
        .input-login {
            font-size: 3.1vw;
        }


        .Login {
            width: 60% !important;
            height: 70vh !important;
            left: 20%;
        }

        .boton-login {
            width: 70%;
            left: 10.5vw;
            font-size: 3.3vw;
        }
    }


    @media (max-width: 1000px) {
        .input-login {
            font-size: 3.3vw;
        }

        .Login {
            width: 60% !important;
            height: 70vh !important;
            left: 20%;
        }

        .boton-login {
            width: 70%;
            left: 10.5vw;
            font-size: 3.3vw;
        }
    }

    @media (max-width: 950px) {
        .input-login {
            font-size: 3.5vw;
        }

        .Login {
            width: 60% !important;
            height: 70vh !important;
            left: 20%;
        }

        .boton-login {
            width: 70%;
            left: 10.5vw;
            font-size: 3.3vw;
        }
    }

    @media (max-width: 900px) {
        .input-login {
            font-size: 3.7vw;
        }



        .Login {
            width: 60% !important;
            height: 70vh !important;
            left: 20%;
        }

        .boton-login {
            width: 70%;
            left: 10.5vw;
            font-size: 3.3vw;
        }
    }

    @media (max-width: 850px) {
        .input-login {
            font-size: 3.9vw;
        }

        .boton-login {
            width: 70%;
            left: 10.5vw;
            font-size: 3.1vw;
        }

        .Login {
            width: 60% !important;
            height: 70vh !important;
            left: 20%;
        }
    }

    @media (max-width: 800px) {
        .input-login {
            font-size: 4.1vw;
        }

        .Login {
            width: 60% !important;
            height: 70vh !important;
            left: 20%;
        }

        .boton-login {
            width: 70%;
            left: 10.7vw;
            font-size: 3.3vw;
        }
    }

    @media (max-width: 750px) {
        .input-login {
            font-size: 4.3vw;
        }

        .boton-login {
            width: 70%;
            left: 4.7vw;
            font-size: 3.3vw;
        }

        .Login {
            width: 70% !important;
            height: 70vh !important;
            left: 13%;
        }

        .boton-login {
            width: 70%;
            left: 10.7vw;
            font-size: 3.3vw;
        }
    }

    @media (max-width: 700px) {
        .input-login {
            font-size: 4.5vw;
        }

        .Login {
            width: 70% !important;
            height: 70vh !important;
            left: 13%;
        }


        .boton-login {
            width: 70%;
            left: 11vw;
            font-size: 3.3vw;
        }
    }

    @media (max-width: 650px) {
        .input-login {
            font-size: 4.7vw;
        }

        .Login {
            width: 70% !important;
            height: 55vh !important;
            left: 13%;
        }

        .boton-login {
            width: 70%;
            left: 11vw;
            font-size: 3.3vw;
        }
    }

    @media (max-width: 600px) {
        .input-login {
            font-size: 4.9vw;
        }

        .Login {
            width: 70% !important;
            height: 55vh !important;
            left: 13%;
        }

        .boton-login {
            width: 70%;
            left: 11vw;
            font-size: 3.3vw;
        }
    }

    @media (max-width: 550px) {
        .input-login {
            font-size: 5.1vw;
        }

        .boton-login {
            width: 70%;
            left: 10vw;
            font-size: 3.3vw;
        }

        .Login {
            width: 70% !important;
            height: 55vh !important;
            left: 12%;
        }
    }

    @media (max-width: 500px) {
        .input-login {
            font-size: 5.3vw;
        }

        .boton-login {
            width: 70%;
            left: 10vw;
            font-size: 3.3vw;
        }

        .Login {
            width: 70% !important;
            height: 55vh !important;
            left: 13%;
        }
    }

@media (max-width: 450px) {
    .input-login {
        font-size: 8vw;
    }

    .boton-login {
        width: 70%;
        left: 10vw;
        font-size: 7vw;
    }

    .Login {
        width: 70% !important;
        height: 55vh !important;
        left: 13%;
    }
}

@media (max-width: 400px) {
    .input-login {
        font-size: 9vw;
    }

    .boton-login {
        width: 70%;
        left: 10vw;
        font-size: 9vw;
    }

    .Login {
        width: 70% !important;
        height: 55vh !important;
        left: 13%;
    }
}

@media (max-width: 350px) {
    .input-login {
        font-size: 11vw;
    }

    .boton-login {
        width: 70%;
        left: 10vw;
        font-size: 7vw;
    }

    .Login {
        width: 70% !important;
        height: 55vh !important;
        left: 13%;
    }
}

@media (max-width: 300px) {
    .input-login {
        font-size: 12vw;
        width: 90%;
        left: 10px;
    }

    .boton-login {
        width: 70%;
        left: 10vw;
        font-size: 8vw;
    }

    .Login {
        width: 70% !important;
        height: 55vh !important;
        left: 13%;
    }
}


@media (max-width: 250px) {
    .input-login {
        font-size: 12vw;
    }

    .boton-login {
        width: 70%;
        left: 10vw;
        font-size: 8vw;
    }

    .Login {
        width: 70% !important;
        height: 55vh !important;
        left: 13%;
    }
}

.input-container {
    position: relative;
    width: 100%;
}

.input-login {
    padding: 10px;
    box-sizing: border-box;
}

.show-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-80%);
    cursor: pointer;
}