
@{
    ViewBag.Title = "Index";
}



<link href="~/Content/Datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Estilos/ClientesEditar.css" rel="stylesheet" />
<link href="~/Content/Datatable/css/responsive.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<body>


    @if (@ViewData["ErrorPermisos"] == null)
    {
        <div class="container">
            <div class="input-group">
                <label class="lblcliente">Nombre</label>
                <div class="input-wrapper"><input id="Nombre" type="text" class="input-nuevo" placeholder=""></div>
            </div>
            <div class="input-group">
                <label class="lblcliente">Apellido</label>
                <div class="input-wrapper"><input id="Apellido" type="text" class="input-nuevo" placeholder=""></div>
            </div>
            <div class="input-group">
                <label class="lblcliente">Dni</label>
                <div class="input-wrapper"><input id="Dni" type="text" class="input-nuevo" placeholder=""></div>
            </div>
            <div class="input-group">
                <label class="lblcliente">Telefono</label>
                <div class="input-wrapper"><input id="Telefono" type="text" class="input-nuevo" placeholder=""></div>
            </div>
            <div class="input-group">
                <label class="lblcliente">Vendedor</label>
                <select id="Usuarios" name="select" class="input-nuevo select-modal-personalizado mt-1">
                    <option value="" selected>Seleccione Vendedor</option>
                </select>
            </div>
            <div class="input-group">
                <label class="lblcliente">Zona</label>
                <select id="Zonas" name="select" class="input-nuevo select-modal-personalizado mt-1">
                    <option value="" selected>Seleccione Zona</option>
                </select>
            </div>
            <div class="input-group">
                <label class="lblcliente">Estado</label>
                <select id="Estados" name="select" class="input-nuevo select-modal-personalizado mt-1">
                    <option value="" selected>Seleccione Estado</option>
                </select>
            </div>
            <div class="input-group">
                <label class="lblcliente">Limite Ventas</label>
                <div class="input-wrapper">
                    <input id="LimiteVentas" type="text" class="input-nuevo inputdireccion" placeholder="">
                </div>
            </div>
            <div class="input-group">
                <label class="lblcliente">Dirección</label>
                <div class="input-wrapper"><input id="Direccion" type="text" class="input-nuevo inputdireccion" placeholder=""></div>
            </div>

            <label id="lblEstados" class="lblNombreInput" hidden>Estado</label>
            <label for="lbllatitud" hidden>Latitud:</label>
            <span id="lbllatitud" hidden></span>
            <label for="lbllongitud" hidden>Longitud:</label>
            <span id="lbllongitud" hidden></span>
            <label for="lbldireccion" hidden>Longitud:</label>
            <span id="lbldireccion" hidden></span>
            <label for="lblidcliente" hidden>IdCliente:</label>
            <span id="IdCliente" hidden></span>
        </div>

        <input id="pac-input" class="controls" type="text" placeholder="Buscar ubicaciones">
        <div id="map" class="mt-5"></div>
        <ul id="location-list"></ul>

        <button class="btn btnAccion" id="borrar-recorrido" onclick="armarRecorrido()">Iniciar recorrido</button>
        <button class="btn btnAccion" id="ir" onclick="irAUbicacion()" hidden>Ir</button>
        <button class="btn btnAccion" id="siguiente" onclick="siguienteUbicacion()" hidden>Siguiente</button>
        <button class="btn btnAccion" id="finalizar-recorrido" onclick="finalizarRecorrido()" hidden>Finalizar recorrido</button>

        @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary btnnuevo" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnRegistrarModificar" type="button" class="btn btn-primary btnnuevo" onclick="AccionBtn()">Registrar</button>
            </div>*@

        <div class="vw-75 d-flex float-lg-end mt-2 mb-4">
            <a class="btn btn-success btnnuevo me-2" onclick="AccionBtnCancelar()">Cancelar</a>
            <a id="btnRegistrarModificar" class="btn btn-primary btnnuevo" onclick="AccionBtn()">Registrar</a>

        </div>

        <link href="~/Content/font-awesome.css" rel="stylesheet" />


    }
    else
    {
        <h2 class="text-danger">Error: No tienes permisos para acceder a esta pantalla</h2>
    }



</body>





<script src="~/Content/Datatable/js/jquery-3.5.1.js"></script>
<script src="~/JavaScript/Utils/Utils.js"></script>
<script src="~/Content/Datatable/js/jquery.dataTables.min.js"></script>

<script src="~/Content/Datatable/js/dataTables.responsive.min.js"></script>

<script src="~/Scripts/xlsx.full.min.js.js"></script>
<script src="~/JavaScript/ClientesEditar.js?v=2.1"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAddgDLrXa7JLbrOCGrCIBqkEDEBh6YtOQ&libraries=places&callback=initMap"></script>
