

@{
    ViewBag.Title = "Index";
}


<link href="~/Content/Datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Estilos/Productos.css?v=1.2" rel="stylesheet" />
<link href="~/Estilos/Ventas.css?v=1.2" rel="stylesheet" />
<link href="~/Estilos/Cobranzas.css?v=1.3" rel="stylesheet" />

<link href="~/Content/Datatable/css/responsive.dataTables.min.css" rel="stylesheet" />


<body>

    @if (@ViewData["ErrorPermisos"] == null)
    {

        @*<div class="vw-75 d-inline float-lg-end mt-2">
                <a class="btn btn-success" id="aplicarFiltros" onclick="ocultarFiltros()">Aplicar</a>
            </div>*@



        @*<div class="row mt-4 table-bordered table-borderless datatablepersonalizado">*@

        <div id="Filtros" class="divFiltros">


            <label class="lblcliente" id="lblvendedor">Vendedor</label>
            <select id="Vendedores" name="select" class="input-nuevo">
                <option value="" selected>Vendedor</option>
            </select>

            <label class="lblcliente" id="lblcobrador">Cobrador</label>
            <select id="CobradorFiltro" name="select" class="input-nuevo">
                <option value="" selected>Cobrador</option>
            </select>

            <label class="lblcliente">Zona</label>
            <select id="Zonas" name="select" class="input-nuevo">
                <option value="" selected>Zona</option>
            </select>

            <br />

            <label id="lblfechacobrodesde" class="m-lg-2 lblcliente" hidden>Fecha Cobro Desde:</label>
            <input type="date" placeholder="" value="" id="FechaCobroDesde" class="input-nuevo" hidden />

            <label id="lblfechacobrohasta" class="m-lg-2 lblcliente" hidden>Fecha Cobro Hasta:</label>
            <input type="date" placeholder="" value="" id="FechaCobroHasta" class="input-nuevo" hidden />

            <label class="m-lg-2 lblcliente" id="lbldninombre">DNI O NOMBRE:</label>
            <input type="text" placeholder="" value="" id="Dni" class="input-nuevo" />

            <br />
            <label class="lblcliente" id="lblcobrador">Turno</label>
            <select id="TurnoFiltro" name="select" class="input-nuevo">
                <option value="" selected>Turno</option>
            </select>

            <label class="lblcliente" id="lblcobrador">Tipo de Negocio</label>
            <select id="TipoNegocio" name="select" class="input-nuevo">
                <option value="" selected>Tipo de Negocio</option>
            </select>

            <div class="vw-75 d-flex float-lg-end mt-2">
                <a class="btn btn-success" id="aplicarFiltros" onclick="aplicarFiltros()">Aplicar</a>
            </div>
        </div>

        <div>

            <div class="divSaldo" id="divSaldo" hidden>

                <div class="divTotalSaldo">
                    <label class="" id="totsaldo">0</label>
                </div>
            </div>
        </div>


        <div class="col-lg-12">
            <div class="card cardTablePersonalizado">
                <div class="card-header d-flex justify-content-between align-items-center">
                    Cobranzas
                    <div class="dropdown ms-auto">
                        <button class="btn btn-secondary dropdown-toggle d-flex align-items-center" type="button" id="dropdownColumnas" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cog me-2"></i> Config. Columnas
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownColumnas" id="configColumnasMenu">
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <table class="display nowrap" id="grdCobranzas" style="width:100%">
                        <thead>
                        <th class="text-center">
                            <p>Seleccionar Todos <input type="checkbox" id="selectAllCheckbox"></p>
                        </th>
                        <tr>

                            <th class="text-center">Orden</th>
                            <th class="text-center">Cliente</th>
                            <th class="text-center">Direccion</th>
                            <th class="text-center">Cuota</th>
                            <th class="text-center">Entrega</th>
                            <th class="text-center">Restante</th>
                            <th class="text-center">Cobro</th>
                            <th class="text-center">Vencimiento</th>
                            <th class="text-center">V</th>
                            <th class="text-center">C</th>
                            <th class="text-center">EnRecorrido</th>
                            <th class="text-center">T</th>
                            <th class="text-center">F.H </th>
                            <th class="text-center">Zona</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí va el contenido de tu datatable -->
                        </tbody>
                    </table>
                </div>




                <div class="d-flexv flex-wrap justify-content-end mt-2 mb-4">
                    <div id="btnCuentaBancaria" class="me-2 mb-2" style="display: none">
                        <a class="btn btn-success btnnuevo btn-uniform" onclick="abrirModalCuentasBancarias()" style="background-color: #3e0f00; border-color: #4285F4; color: white;">
                            <i class="fa fa-university"></i> Cuentas Bancarias
                        </a>

                    </div>
                    <div id="btnAsignarTurno" class="me-2 mb-2" style="display: none;">
                        <a class="btn btn-success btnnuevo btn-uniform" onclick="abrirmodalTurno()">Asignar Turno</a>
                    </div>
                    <div id="btnAsignarCobrador" class="me-2 mb-2" style="display: none;">
                        <a class="btn btn-success btnnuevo btn-uniform" onclick="abrirmodalCobrador()">Asignar Cobrador</a>
                    </div>
                    <div id="btnFinalizarRecorrido" class="me-2 mb-2">
                        <a class="btn btn-success btnnuevo btn-uniform" onclick="borrarRecorrido()" style="background-color: #4285F4; border-color: #4285F4; color: white;">
                            <i class="fa fa-map-marker"></i> Finalizar Recorrido
                        </a>
                    </div>
                    <div id="btnArmarRecorrido" class="me-2 mb-2">
                        <a class="btn btn-success btnnuevo btn-uniform" onclick="armarRecorrido()" style="background-color: #4285F4; border-color: #4285F4; color: white;">
                            <i class="fa fa-map-marker"></i> Armar Recorrido
                        </a>
                    </div>

                </div>



            </div>
        </div>


        @*</div>*@
    }
    else
    {
        <h2 class="text-danger">Error: No tienes permisos para acceder a esta pantalla</h2>
    }

    <div class="modal fade centered-modal-importar" id="modalHomeCobranza" tabindex="-1" aria-labelledby="modalHomeCobranzaLabel" aria-hidden="true">
        <div class="modal-dialog estilowpp">
            <div class="estilowpp modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalHomeCobranzaLabel">Observacion de Cobro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input type="Text" id="idVentaHome" class="input-nuevomodif" hidden />
                    <input type="Text" placeholder="Detalla informacion del mismo..." id="mensajeobs" class="input-whatssap" />


                </div>
                <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnaccion" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnRegistrarModificar" type="button" class="btn btn-primary btnaccion" onclick="estadoHome()">Enviar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade centered-modal-importar" id="modalWhatssap" tabindex="-1" aria-labelledby="modalWhatssapLabel" aria-hidden="true">
        <div class="modal-dialog estilowpp">
            <div class="estilowpp modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalWhatssapLabel">Enviar mensaje por whatssap</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input type="Text" id="idClienteWhatssap" class="input-nuevomodif" hidden />
                    <input type="Text" placeholder="Escribe el mensaje" id="mensajewsp" class="input-whatssap" />


                </div>
                <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnaccion" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnRegistrarModificar" type="button" class="btn btn-primary btnaccion" onclick="enviarWhatssap()">Enviar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade centered-modal-importar" id="modalCobradores" tabindex="-1" aria-labelledby="modalCobradoresLabel" aria-hidden="true">
        <div class="modal-dialog estilowpp">
            <div class="estilowpp modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCobradorespLabel">Asignar Cobrador</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <label class="lblNombreInput" hidden>Cobrador</label>
                <select id="Cobrador" name="select" class="input-nuevomodif select-modal-personalizado mt-3">
                    <option value="" selected>Seleccione Cobrador</option>
                </select>
                <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnaccion" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnRegistrarModificar" type="button" class="btn btn-primary btnaccion" onclick="asignarCobrador()">Asignar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade centered-modal-importar" id="modalTurnos" tabindex="-1" aria-labelledby="modalTurnosLabel" aria-hidden="true">
        <div class="modal-dialog estilowpp">
            <div class="estilowpp modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTurnospLabel">Asignar Turno</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <label class="lblNombreInput" hidden>Cobrador</label>
                <select id="Turno" name="select" class="input-nuevomodif select-modal-personalizado mt-3">
                    <option value="" selected>Seleccione Turno</option>
                </select>
                <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnaccion" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnRegistrarModificar" type="button" class="btn btn-primary btnaccion" onclick="asignarTurno()">Asignar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalImagenAmpliada">
        <img src="" alt="Imagen ampliada">
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modalComprobantes" tabindex="-1" aria-labelledby="modalComprobantesLabel" aria-hidden="true" style="z-index: 999999;">
            <input type="text" id="idaccount" class="extra-comprobante d-none">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                
                    <h5 class="modal-title" id="modalComprobantesLabel">Agregar Comprobantes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3">
                        <!-- Casillero 1 -->
                        <div class="col-6 col-md-3">
                            <div class="comprobante-card border rounded p-3 shadow-sm text-center bg-light">
                                <h6 class="mb-2 text-black">Comprobante</h6>
                                
                                <div class="vista-previa-container">
                                    <img src="" class="vista-previa" alt="Vista previa" style="display: none;">
                                </div>

                                <div class="mb-2">
                                    <label class="form-label btn btn-outline-primary w-100 mb-1">
                                        <i class="bi bi-upload me-1"></i> Seleccionar archivo
                                        <input type="file" accept=".jpg,.jpeg,.png" class="extra-comprobante d-none" data-index="0">
                                    </label>
                                </div>

                                <button type="button" class="btn btn-sm btn-outline-danger btn-cancelar-imagen" style="display: none;">Quitar</button>
                            </div>
                        </div>

                        <div class="col-6 col-md-3">
                            <div class="comprobante-card border rounded p-3 shadow-sm text-center bg-light">
                                <h6 class="mb-2 text-black">Comprobante</h6>
                                <div class="vista-previa-container">
                                    <img src="" class="vista-previa" alt="Vista previa" style="display: none;">
                                </div>

                                <div class="mb-2">
                                    <label class="form-label btn btn-outline-primary w-100 mb-1">
                                        <i class="bi bi-upload me-1"></i> Seleccionar archivo
                                        <input type="file" accept=".jpg,.jpeg,.png" class="extra-comprobante d-none" data-index="1">
                                    </label>
                                </div>

                                <button type="button" class="btn btn-sm btn-outline-danger btn-cancelar-imagen" style="display: none;">Quitar</button>
                            </div>
                        </div>

                        <div class="col-6 col-md-3">
                            <div class="comprobante-card border rounded p-3 shadow-sm text-center bg-light">
                                <h6 class="mb-2 text-black">Comprobante</h6>
                                <div class="vista-previa-container">
                                    <img src="" class="vista-previa" alt="Vista previa" style="display: none;">
                                </div>

                                <div class="mb-2">
                                    <label class="form-label btn btn-outline-primary w-100 mb-1">
                                        <i class="bi bi-upload me-1"></i> Seleccionar archivo
                                        <input type="file" accept=".jpg,.jpeg,.png" class="extra-comprobante d-none" data-index="2">
                                    </label>
                                </div>

                                <button type="button" class="btn btn-sm btn-outline-danger btn-cancelar-imagen" style="display: none;">Quitar</button>
                            </div>
                        </div>

                        <div class="col-6 col-md-3">
                            <div class="comprobante-card border rounded p-3 shadow-sm text-center bg-light">
                                <h6 class="mb-2 text-black">Comprobante</h6>
                                <div class="vista-previa-container">
                                    <img src="" class="vista-previa" alt="Vista previa" style="display: none;">
                                </div>

                                <div class="mb-2">
                                    <label class="form-label btn btn-outline-primary w-100 mb-1">
                                        <i class="bi bi-upload me-1"></i> Seleccionar archivo
                                       <input type="file" accept=".jpg,.jpeg,.png" class="extra-comprobante d-none" data-index="3">
                                    </label>
                                </div>

                                <button type="button" class="btn btn-sm btn-outline-danger btn-cancelar-imagen" style="display: none;">Quitar</button>
                            </div>
                        </div>

                        <div class="col-6 col-md-3">
                            <div class="comprobante-card border rounded p-3 shadow-sm text-center bg-light">
                                <h6 class="mb-2 text-black">Comprobante</h6>
                                <div class="vista-previa-container">
                                    <img src="" class="vista-previa" alt="Vista previa" style="display: none;">
                                </div>

                                <div class="mb-2">
                                    <label class="form-label btn btn-outline-primary w-100 mb-1">
                                        <i class="bi bi-upload me-1"></i> Seleccionar archivo
                                        <input type="file" accept=".jpg,.jpeg,.png" class="extra-comprobante d-none" data-index="4">
                                    </label>
                                </div>

                                <button type="button" class="btn btn-sm btn-outline-danger btn-cancelar-imagen" style="display: none;">Quitar</button>
                            </div>
                        </div>

                        <div class="col-6 col-md-3">
                            <div class="comprobante-card border rounded p-3 shadow-sm text-center bg-light">
                                <h6 class="mb-2 text-black">Comprobante</h6>
                                <div class="vista-previa-container">
                                    <img src="" class="vista-previa" alt="Vista previa" style="display: none;">
                                </div>

                                <div class="mb-2">
                                    <label class="form-label btn btn-outline-primary w-100 mb-1">
                                        <i class="bi bi-upload me-1"></i> Seleccionar archivo
                                        <input type="file" accept=".jpg,.jpeg,.png" class="extra-comprobante d-none" data-index="5">
                                    </label>
                                </div>

                                <button type="button" class="btn btn-sm btn-outline-danger btn-cancelar-imagen" style="display: none;">Quitar</button>
                            </div>
                        </div>

                        <div class="col-6 col-md-3">
                            <div class="comprobante-card border rounded p-3 shadow-sm text-center bg-light">
                                <h6 class="mb-2 text-black">Comprobante</h6>
                                <div class="vista-previa-container">
                                    <img src="" class="vista-previa" alt="Vista previa" style="display: none;">
                                </div>

                                <div class="mb-2">
                                    <label class="form-label btn btn-outline-primary w-100 mb-1">
                                        <i class="bi bi-upload me-1"></i> Seleccionar archivo
                                        <input type="file" accept=".jpg,.jpeg,.png" class="extra-comprobante d-none" data-index="6">
                                    </label>
                                </div>

                                <button type="button" class="btn btn-sm btn-outline-danger btn-cancelar-imagen" style="display: none;">Quitar</button>
                            </div>
                        </div>

                        <div class="col-6 col-md-3">
                            <div class="comprobante-card border rounded p-3 shadow-sm text-center bg-light">
                                <h6 class="mb-2 text-black">Comprobante</h6>
                                <div class="vista-previa-container">
                                    <img src="" class="vista-previa" alt="Vista previa" style="display: none;">
                                </div>

                                <div class="mb-2">
                                    <label class="form-label btn btn-outline-primary w-100 mb-1">
                                        <i class="bi bi-upload me-1"></i> Seleccionar archivo
                                       <input type="file" accept=".jpg,.jpeg,.png" class="extra-comprobante d-none" data-index="7">
                                    </label>
                                </div>

                                <button type="button" class="btn btn-sm btn-outline-danger btn-cancelar-imagen" style="display: none;">Quitar</button>
                            </div>
                        </div>

                        <div class="col-6 col-md-3">
                            <div class="comprobante-card border rounded p-3 shadow-sm text-center bg-light">
                                <h6 class="mb-2 text-black">Comprobante</h6>
                                <div class="vista-previa-container">
                                    <img src="" class="vista-previa" alt="Vista previa" style="display: none;">
                                </div>

                                <div class="mb-2">
                                    <label class="form-label btn btn-outline-primary w-100 mb-1">
                                        <i class="bi bi-upload me-1"></i> Seleccionar archivo
                                        <input type="file" accept=".jpg,.jpeg,.png" class="extra-comprobante d-none" data-index="8">
                                    </label>
                                </div>

                                <button type="button" class="btn btn-sm btn-outline-danger btn-cancelar-imagen" style="display: none;">Quitar</button>
                            </div>
                        </div>

                        <div class="col-6 col-md-3">
                            <div class="comprobante-card border rounded p-3 shadow-sm text-center bg-light">
                                <h6 class="mb-2 text-black">Comprobante</h6>
                                <div class="vista-previa-container">
                                    <img src="" class="vista-previa" alt="Vista previa" style="display: none;">
                                </div>

                                <div class="mb-2">
                                    <label class="form-label btn btn-outline-primary w-100 mb-1">
                                        <i class="bi bi-upload me-1"></i> Seleccionar archivo
                                        <input type="file" accept=".jpg,.jpeg,.png" class="extra-comprobante d-none" data-index="9">
                                    </label>
                                </div>

                                <button type="button" class="btn btn-sm btn-outline-danger btn-cancelar-imagen" style="display: none;">Quitar</button>
                            </div>
                        </div>

                        <div class="col-6 col-md-3">
                            <div class="comprobante-card border rounded p-3 shadow-sm text-center bg-light">

                               

                                <h6 class="mb-2 text-black">Comprobante</h6>
                                <div class="vista-previa-container">
                                    <img src="" class="vista-previa" alt="Vista previa" style="display: none;">
                                </div>

                                <div class="mb-2">
                                    <label class="form-label btn btn-outline-primary w-100 mb-1">
                                        <i class="bi bi-upload me-1"></i> Seleccionar archivo
                                        <input type="file" accept=".jpg,.jpeg,.png" class="extra-comprobante d-none" data-index="10">
                                    </label>
                                </div>

                                <button type="button" class="btn btn-sm btn-outline-danger btn-cancelar-imagen" style="display: none;">Quitar</button>
                            </div>
                        </div>

                        <div class="col-6 col-md-3">
                            <div class="comprobante-card border rounded p-3 shadow-sm text-center bg-light">
                                <h6 class="mb-2 text-black">Comprobante</h6>
                                <div class="vista-previa-container">
                                    <img src="" class="vista-previa" alt="Vista previa" style="display: none;">
                                </div>

                                <div class="mb-2">
                                    <label class="form-label btn btn-outline-primary w-100 mb-1">
                                        <i class="bi bi-upload me-1"></i> Seleccionar archivo
                                        <input type="file" accept=".jpg,.jpeg,.png" class="extra-comprobante d-none" data-index="11">
                                    </label>
                                </div>

                                <button type="button" class="btn btn-sm btn-outline-danger btn-cancelar-imagen" style="display: none;">Quitar</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button id="btnCancelarModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button id="btnGuardarComprobantes" onclick="guardarComprobantes()" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade centered-modal-cobranza" id="cobranzaModal" tabindex="-1" aria-labelledby="cobranzaModallLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cobranzaModalLabel">Cobranza</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <label class="lblNombreInput text-bg-secondary" id="saldoRestante" hidden></label>


                    <input type="Text" id="IdVenta" class="input-nuevomodif" hidden />
                    <label class="lblNombreInput text-bg-secondary" id="ValordelaCuota"></label>

                    <br />
                    <label class="lblNombreInput" id="lblImporte"> Importe: </label>
                    <input type="number" placeholder="0" value="0" id="Entrega" class="input-nuevomodif" />
                    <label class="lblNombreInput text-danger mb-2 mt-0" id="errorImporteCobranza" hidden></label>


                    <label class="lblNombreInput" id="lblValorCuota" hidden> Nuevo Valor de Cuota: </label>
                    <label class="lblNombreInput text-danger mb-2 mt-0" id="errorValorCuotaCobranza" hidden></label>


                    <div class="d-flex align-items-center">
                        <input type="number" placeholder="Valor de la cuota" value="0" id="ValorCuota" class="input-nuevomodif" />
                        <input type="number" placeholder="Valor de la cuota" value="0" id="ValorCuotahidden" hidden class="input-nuevomodif" />

                        <input type="checkbox" id="checkValorCuota" class="form-check-input input-checkbox" style="z-index:1; position:relative; top: -10px;" onclick="calcularRestanteCuota()" />

                        <label class="text-danger ml-2" id="errorValorCuotaCobranza" hidden></label>
                    </div>

                    <label class="lblNombreInput" id="lblValorInteres"> Intereses: </label>
                    <input type="number" placeholder="Interes" value="0" id="ValorInteres" class="input-nuevomodif" />

                    <label class="lblNombreInput">Metodo de pago</label>
                    <select id="MetodoPago" name="select" class="input-nuevomodif select-modal-personalizado mt-3" onchange="habilitarCuentas()" required>
                        <option value="">Seleccionar</option>
                        <option value="Efectivo">Efectivo</option>
                        <option value="Transferencia Propia">Transferencia Propia</option>
                        <option value="Transferencia a Terceros">Transferencia a Terceros</option>
                    </select>

                    <label class="lblNombreInput" id="lblCuentaPago" hidden>Cuenta</label>
                    <select id="CuentaPago" name="select" class="input-nuevomodif select-modal-personalizado mt-3" required hidden>
                        <option value="">Seleccionar</option>
                    </select>

                    <div id="progressBarContainerCobro" class="progress-wrapper mt-3" hidden>
                        <!-- Contenedor superior con el Total y el texto Cobros Pendientes -->
                        <div class="d-flex justify-content-between mb-2">
                            <span id="total-labelCobro" hidden class="text-black" style="font-weight: bold;">Cobros: $50,000</span>
                            <span id="cobrosPendientesCobro" class="text-warning" hidden style="font-weight: bold;">Pendientes; $50,000</span>
                        </div>

                        <!-- Barra de progreso -->
                        <div class="progress" style="height: 20px; background-color: #f1f1f1; border-radius: 10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
                            <div id="progressBarCobro" class="progress-bar" style="width: 0%; transition: width 0.5s; border-radius: 10px;"></div>
                        </div>

                        <!-- Contenedor inferior con el Restante -->
                        <div class="d-flex justify-content-between mb-2">
                            <span id="entregas-labelCobro" hidden class="text-black" style="font-weight: bold;">Entregas: $50,000</span>
                            <span id="restante-labelCobro" hidden class="text-black" style="font-weight: bold;">Restante: $50,000</span>
                        </div>

                        <!-- Texto del porcentaje de progreso centrado -->
                        <span id="progressPercentageCobro" class="text-center"
                              style="position: absolute; width: 100%; top: 50%; transform: translateY(-50%); color: white; font-weight: bold; font-size: 14px;">
                        </span>
                    </div>



                    <label class="lblNombreInput" id="lblFechaCobro">Nueva Fecha de Cobro</label>
                    <input type="date" placeholder="1" value="1" id="FechaCobro" class="input-nuevomodif" />

                    <label id="lblProximoTurno" class="lblNombreInput">Proximo Turno</label>
                    <select id="TurnoCobro" name="select" class="input-nuevomodif select-modal-personalizado mt-3" required>
                        <option value="">Seleccionar</option>
                        <option value="mañana">Mañana</option>
                        <option value="tarde">Tarde</option>
                    </select>

                    <label id="lblFranjaHoraria" class="lblNombreInput">Franja Horaria</label>
                    <select id="FranjaHorariaCobro" name="select" class="input-nuevomodif select-modal-personalizado mt-3" required>
                        <option value="">Seleccionar</option>
                    </select>


                    <label class="lblNombreInput" id="lblImporte"> Observacion: </label>
                    <input type="Text" placeholder="" value="" id="Observacion" class="input-nuevomodif" />

                    <!-- Contenedor para el ícono principal y los íconos alternativos -->
                    <div id="iconoCasa" class="d-flex align-items-center justify-content-center mt-12">
                        <div id="iconosAlternativos" class="d-none d-flex align-items-center">
                            <span id="iconoRojo" class="fa fa-home fa-2x text-danger cursor-pointer" onclick="cambiarColor('text-danger')"></span>
                            <span id="iconoVerde" class="fa fa-home fa-2x text-success cursor-pointer" onclick="cambiarColor('text-success')"></span>
                            <input type="number" placeholder="" value="" id="estadoCobro" class="input-nuevomodif" hidden />
                        </div>
                        <span id="iconoPrincipal" class="fa fa-home fa-3x text-dark cursor-pointer" style="position: relative;" onclick="toggleIcon()"></span>
                    </div>

                    <div id="divImagen" class="divImagen" hidden>
                        <h5>Comprobante</h5>
                        <img id="imgProducto" class="mb-3" style="width: 50px; height: 50px;" src="" />
                        <input id="Imagen" class="input-imagen" type="file" placeholder="Imagen" name="adjunto" accept=".pdf,.jpg,.png" multiple />
                        <p id="imgProd" class="" hidden></p>
                    </div>

                </div>
                <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnCobrar" type="button" class="btn" onclick="hacerCobranza()">Cobrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade centered-modal-importar" id="importanteModal" tabindex="-1" aria-labelledby="importanteModallLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="importanteModalLabel">Cobranza Importante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input type="Text" id="IdVentaImportante" class="input-nuevomodif" hidden />

                    <label class="lblNombreInput" id="lblImporte"> Orden: </label>
                    <input type="number" placeholder="" value="" id="OrdenCobranza" class="input-nuevomodif" />


                </div>
                <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnRegistrarModificar" type="button" class="btn btn-primary" onclick="cobranzaImportanteModal()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>






</body>

<div class="modal fade centered-modal-importar" id="modalWhatssap" tabindex="-1" aria-labelledby="modalWhatssapLabel" aria-hidden="true">
    <div class="modal-dialog estilowpp">
        <div class="estilowpp modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="modalWhatssapLabel">Enviar mensaje por whatssap</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input type="Text" id="idClienteWhatssap" class="input-nuevomodif" hidden />

                <input type="Text" placeholder="Escribe el mensaje" id="mensajewsp" class="input-whatssap" />


            </div>
            <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnRegistrarModificar" type="button" class="btn btn-primary" onclick="enviarWhatssap()">Enviar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Cuentas Bancarias -->
<div class="modal fade" id="bankAccountsModal" tabindex="-1" aria-labelledby="bankAccountsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bankAccountsModalLabel">Cuentas Bancarias</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button id="toggleBloqueadas" class="btn btn-light">
                    <i class="fa fa-eye text-danger"></i> Ver cuentas inactivas
                </button>
                <!-- Lista de cuentas bancarias -->
                <ul id="accountList" class="list-group mt-3 mb-2" style="max-height: 300px; overflow-y: scroll;"></ul>


                <!-- Inputs de Nombre y CBU -->
                <div class="mb-3">
                    <label for="accountName" class="form-label text-success">Nombre de la Cuenta</label>
                    <input type="text" class="form-control text-black" style="max-width: 500px" id="accountName" disabled>
                </div>
                <div class="mb-3">
                    <label for="accountCBU" class="form-label text-success">CBU</label>
                    <input type="text" class="form-control text-black" style="max-width: 500px" id="accountCBU" disabled>
                </div>
                <div class="mb-3">
                    <label for="accountMonto" class="form-label text-success">Monto a Cobrar</label>
                    <input type="text" class="form-control text-black" style="max-width: 500px" id="accountMonto" disabled>
                </div>

                <div class="progress-wrapper mt-2" id="divProgressBarBanco">

                    <div class="d-flex justify-content-between">
                        <span id="total-label" class="text-black">Cobros: $50.000</span>
                        <span id="pendientes-label" hidden class="text-warning">Pendientes: $50.000</span>
                    </div>

                    <div class="progress" style="height: 20px; background-color: #e0e0e0; position: relative;">
                        <div id="progress-bar" class="progress-bar" style="width: 0%; transition: width 0.5s;"></div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <span id="entregas-label" class="text-black">Entregas: $50.000</span>
                        <span id="restante-label" class="text-black">Restante: $50.000</span>
                    </div>

                </div>



                <div class="d-flex justify-content-between  mt-3">
                    <div class="form-check form-switch d-flex align-items-center" style="margin-right:15px">
                        <label class="form-check-label text-black" style="margin-right:4rem" for="CuentaPropia">Cuenta Propia</label>
                        <input class="form-check-input" type="checkbox" id="CuentaPropia" disabled>
                    </div>
                    <div class="form-check form-switch d-flex align-items-center" style="margin-right:15px">
                        <label class="form-check-label text-black" style="margin-right:4rem" for="Activo">Activo</label>
                        <input class="form-check-input" type="checkbox" id="Activo" disabled>
                    </div>

                </div>

                <div id="detalleVentas">
                    <!-- Aquí se agregan dinámicamente las ventas con imágenes -->
                </div>


                <!-- Botones Añadir y Eliminar -->
                <div class="d-flex justify-content-end mt-4">

                    <button id="btnStockPendiente" type="button" class="btn btn-danger me-2" onclick="exportarPdf()">
                        <i class="fa fa-file-pdf-o"></i> Exportar PDF
                    </button>

                    <button id="anadirCuenta" type="button" class="btn btn-success" onclick="anadirCuenta()">
                        <i class="fa fa-plus"></i> Añadir
                    </button>

                    <button id="canceladdAccount" class="btn btn-danger me-2" onclick="cancelarNuevaCuenta()" hidden>
                        <i class="fa fa-close"></i> Cancelar
                    </button>

                    <button type="button" id="addAccount" class="btn btn-primary" hidden>
                        <i class="fa fa-check"></i> Registrar
                    </button>


                    <button id="editarCuenta" type="button" class="btn btn-warning me-2" onclick="editarCuenta()" hidden>
                        <i class="fa fa-edit"></i> Editar
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Content/Datatable/js/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="~/Scripts/xlsx.full.min.js.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="~/JavaScript/Utils/Utils.js"></script>
<link href="~/Content/font-awesome.css" rel="stylesheet" />
@section scripts{
    <script src="~/JavaScript/Cobranzas.js?v=2.3"></script>
}
