
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Estilos/Stock.css?v=1.0" rel="stylesheet" />
<link href="~/Content/Datatable/css/responsive.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

<body>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <div class="divPrecio mt-3">
        <label class="lblNombreInput text-white">Stock de </label>
        <label class="lblNombreInput ms-2 text-white" id="lblnombreusuario"></label>
        <label class="lblNombreInput ms-2 text-white" id="lbltelefono" hidden></label>
        <a class="btn btn-wspstock" title="Contactar vía WhatsApp" onclick="enviarWhatssap()">
            <i class="fa fa-whatsapp"></i>
        </a>
    </div>

    <div class="divStock" id="divStock" hidden>
        <label class="" id="">Dinero en stock: </label>
        <label class="" id="precioventa">0</label>
    </div>

    <div class="col-lg-12">
        <div class="card cardTablePersonalizado">
            <div class="card-header d-flex justify-content-between align-items-center">
                Stock
                <div class="dropdown ms-auto">
                    <button class="btn btn-secondary dropdown-toggle d-flex align-items-center" type="button" id="dropdownColumnas" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog me-2"></i> Config. Columnas
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownColumnas" id="configColumnasMenu">
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <table class="display nowrap" id="grdStock" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">Imagen</th>
                            <th class="text-center">Producto</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Precio Unitario</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí va el contenido de tu datatable -->
                    </tbody>
                </table>
            </div>

            <div class="vw-75 d-flex justify-content-end mt-2 mb-4">
                <button id="btnExportarPdf" type="button" class="btn btn-danger me-2" onclick="exportarPdf()" hidden>
                    <i class="fa fa-file-pdf-o"></i> Exportar PDF
                </button>

                <button id="btnStockPendiente" type="button" class="btn btn-warning me-2" onclick="abrirstockPendiente()">Stock Pendiente</button>
                <a class="btn btn-primary" id="btnAgregarProd" onclick="abrirmodal()">Agregar</a>

            </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Imagen Ampliada</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img id="modalImage" src="" class="img-fluid" alt="Imagen Ampliada" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="nuevoProductoModal" tabindex="-1" aria-labelledby="nuevoProductoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nuevoProductoModalLabel">Añadir producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input type="Text" id="IdStock" class="input-nuevomodif" hidden />

                    <label class="lblNombreInput">Producto</label>
                    <select id="Productos" name="select" class="input-nuevomodif select-modal-personalizado mt-3">
                        <option value="" selected>Seleccione Producto</option>
                    </select>

                    <label class="lblNombreInput" hidden>Producto Precio</label>
                    <select id="ProductosPrecio" name="select" class="input-nuevomodif select-modal-personalizado mt-3" hidden>
                        <option value="" selected>Seleccione Producto</option>
                    </select>

                    <!-- Cantidad (no editable) -->
                    <label class="lblNombreInput">Cantidad</label>
                    <input type="number" value="1" id="Cantidad" class="input-nuevomodif" disabled /> <!-- Desactivado -->
                    <!-- Precio Total -->
                    <div class="divPrecio mt-3">
                        <label class="lblNombreInput">Precio Total: </label>
                        <label class="lblNombreInput" id="precioTotal">0</label>
                    </div>

                    <div class="divPrecio mt-3">
                        <label class="lblNombreInput">Stock: </label>
                        <label class="lblNombreInput" id="stock">0</label>
                    </div>

                    <!-- Nueva sección con cantidad nueva -->
                    <label id="lblAgregarQuitar" class="lblNombreInput mt-3">Agregar / Quitar</label>
                    <div class="d-flex justify-content-center">
                        <!-- Botón Quitar a la izquierda -->
                        <button type="button" id="btnQuitar" class="btn btn-danger" onclick="restarStockCantidad('Quitar')">Quitar</button>

                        <!-- Campo de Cantidad Nueva -->
                        <input type="number" id="CantidadNueva" value="1" class="input-nuevomodifCantidadNueva text-center" />

                        <!-- Botón Agregar a la derecha -->
                        <button type="button" id="btnAgregar" class="btn btn-success" onclick="agregarStockCantidad('Agregar')">Agregar</button>
                    </div>



                </div>
                <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnRegistrarModificar" type="button" class="btn btn-primary" onclick="agregarStock()">Añadir</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="transferenciaModal" tabindex="-1" aria-labelledby="transferenciaModallLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="transferenciaModalLabel">Transferir Stock</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <label class="lblNombreInput">Usuario</label>
                    <select id="Usuarios" name="select" class="input-nuevomodif select-modal-personalizado mt-3">
                        <option value="" selected>Seleccione Usuario</option>
                    </select>

                    <input type="Text" id="IdStockTransferencia" class="input-nuevomodif" hidden />

                    <label class="lblNombreInput">Cantidad</label>
                    <input type="number" placeholder="1" value="1" id="CantidadTransferencia" class="input-nuevomodif" />

                </div>
                <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnRegistrarModificar" type="button" class="btn btn-primary" onclick="transferenciaStock()">Transferir</button>

                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="agregarStockModal" tabindex="-1" aria-labelledby="agregarStockModallLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarStockModalLabel">Agregar Stock</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <input type="Text" id="IdStockAgregar" class="input-nuevomodif" hidden />
                    <input type="Text" id="IdProductoAgregar" class="input-nuevomodif" hidden />

                    <label class="lblNombreInput">Cantidad</label>
                    <input type="number" placeholder="1" value="1" id="CantidadAgregarStock" class="input-nuevomodif" />

                </div>
                <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnRegistrarModificar" type="button" class="btn btn-primary" onclick="sumaStock()">Aceptar</button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="restarStockModal" tabindex="-1" aria-labelledby="restarStockModallLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="restarStockModalLabel">Restar Stock</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <input type="Text" id="IdStockRestar" class="input-nuevomodif" hidden />
                    <input type="Text" id="IdProductoResta" class="input-nuevomodif" hidden />

                    <label class="lblNombreInput">Cantidad</label>
                    <input type="number" placeholder="1" value="1" id="CantidadRestarStock" class="input-nuevomodif" />

                </div>
                <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnRegistrarModificar" type="button" class="btn btn-primary" onclick="restaStock()">Aceptar</button>

                </div>
            </div>
        </div>
    </div>


</body>



<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/JavaScript/Utils/Utils.js"></script>
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>



@section scripts{

    <!-- JS de Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script src="~/JavaScript/Stock.js?v=2.1"></script>
}
