.centered-modal-nuevo {
    position: fixed !important;
    top: 7% !important;
    left: 50% !important;
    transform: translate(-50%, 0%) !important;
}

.centered-modal-importar {
    position: fixed !important;
    top: 30% !important;
    left: 50% !important;
    transform: translate(-50%, 0%) !important;
}



.input-nuevomodif {
    display: flex;
    border: none;
    border-bottom: 10px;
    border-bottom: solid blue;
    width: 70%;
    display: block;
    position: relative;
    left: 17%;
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    font-size: 1.3vw;
    max-width: 500px !important;
    color: black !important;
   
}

.divFiltros {
    padding: 5px 5px 5px 5px;
    border: 3px solid;
    border: solid blue;
    display: flex;
    width: 85%;
    display: block;
    position: relative;
    left: 8%;
    margin-top: 20px;
    color: black;
    text-align: center;
}

.input-nuevo {
    border: none;
    border-bottom: 0px;
    border-bottom: solid blue;
    width: 70%;
    margin-bottom: 20px;
    color: black;
    text-align: center !important;
    font-size: 0.8vw;
    max-width: 200px !important;
    background: #1B2631 !important;
    color: white !important;
    
}

label {
    color: white;
}

select {
    font-size: 0.8vw !important;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.9;
    filter: invert(0.9);
}



.input-nuevomodif:active {
    border: none;
    border-bottom: solid blue;
}

    .input-nuevomodif::placeholder {
        color: black;
        opacity: 1 !important;
    }

    .input-nuevomodif:hover {
        outline: none !important;
    }

    .input-nuevomodif:focus {
        outline: none !important;
        border-bottom: solid red;
    }

.btnAccion {
    width: 2vw;
    min-width: 25px;
    background: #2E4053;
    margin-left: 10px;
}

.lblcliente {
    margin-left: 30px;
    font-size: 0.7vw;
}


.btneliminar:hover {
    cursor: pointer;
}


.btnespacio {
    margin-right: 5px !important;
}

.btn-accion {
    background: #2E4053;
    border-color: blue;
    color: white;
    font-size: 0.8vw;
    height: 3.2vh;
    width: auto;
}

    .btn-accion:hover {
        background: #0D62CF;
    }


.estilowpp {
    max-width: 800px !important;
    min-width: 800px !important;
    width: 70% !important;
}


.estilolimite {
    max-width: 500px !important;
    min-width: 500px !important;
    width: 30% !important;
}



.input-whatssap {
    display: flex;
    border: none;
    border-bottom: 10px;
    border-bottom: solid blue;
    width: 95%;
    display: block;
    position: relative;
    left: 0.8vw;
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    font-size: 1.8vw;
    max-width: 1000px !important;
    color: black !important;
    
}

.divArchivo {
    padding: 5px 5px 5px 5px;
    border: 3px solid;
    border: solid blue;
    width: 70%;
    display: flex;
    width: 70%;
    display: block;
    position: relative;
    left: 17%;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    max-width: 500px !important;
}

.input-importacionmasiva {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    left: 35%;
    width: 40%;
}

.divArchivo:active {
    border: solid red;
}

.divArchivo::placeholder {
    color: black;
    opacity: 1 !important;
}

.divArchivo:hover {
    outline: none !important;
}

.divArchivo:focus {
    outline: none !important;
    border: solid red;
}

@media (max-width: 1000px) {
    .input-nuevomodif {
        width: 90%;
        left: 8%;
        font-size: 3vw !important;
    }

    .lblNombreInput {
        font-size: 3vw !important;
    }

    select {
        font-size: 3vw !important;
    }

    .btnnuevo {
        width: 150px !important;
    }
}

@media (max-width: 450px) {
    .input-nuevomodif {
        width: 90% !important;
        left: 8% !important;
        font-size: 7vw !important;
    }

    .lblNombreInput {
        font-size: 7vw !important;
    }

    select {
        font-size: 7vw !important;
    }

    .btnnuevo {
        width: 200px !important;
    }
	
}


@media (max-width: 1000px) {


    .divProducto {
        font-size: 2.7vw !important;
    }

    .input-nuevo {
        width: 100% !important;
        display: block !important;
        max-width: 1500px !important;
        font-size: 4vw !important;
    }



    .input-nuevomodif {
        width: 99%;
        left: 2%;
        font-size: 3.7vw !important;
        text-align: center !important;
    }

    .lblcliente {
        font-size: 4vw !important;
        display: block;
        margin-left: -16px !important;
    }

    select {
        max-width: 1500px !important;
        font-size: 4vw !important;
    }

    .btnnuevo {
        width: 150px !important;
    }

    .obs {
        width: 99% !important;
    }

    .lblNombreInput {
        font-size: 4vw !important;
    }

    .btnaccion {
        width: 150px !important;
    }


    .btnaccionp {
        width: 400px !important;
    }

    .dataTables_info {
        font-size: 2.7vw !important;
    }

    option {
        font-size: 2.7vw !important;
    }
}

@media (max-width: 600px) {


    #grdProductosVenta {
        font-size: 3vw !important;
    }

    .dataTables_info {
        font-size: 2.7vw !important;
    }

    .divProducto {
        display: block !important;
        position: relative !important;
        margin-left: 0px !important;
    }

    .input-nuevomodif {
        font-size: 4vw !important;
    }

    .lblNombreInput {
        font-size: 4vw !important;
    }

    .btnaccion {
        width: 175px !important;
    }

    .btnaccionp {
        width: 450px !important;
    }

    option {
        font-size: 3vw !important;
    }
}

@media (max-width: 400px) {

    .lblNombreInput {
        font-size: 6vw !important;
    }

    .input-nuevomodif {
        font-size: 6vw !important;
    }

    .btnaccionp {
        width: 450px !important;
    }

    option {
        font-size: 5vw !important;
    }
}


@media (max-width: 300px) {


    .lblNombreInput {
        font-size: 8vw !important;
    }

    .input-nuevomodif {
        font-size: 8vw !important;
    }

    .btnaccion {
        width: 200px !important;
    }

    .btnaccionp {
        width: 450px !important;
    }
}

@media (max-width: 260px) {

    .divProducto {
        font-size: 5vw;
    }

    .btnaccion {
        width: 200px !important;
    }

    .btnaccionp {
        width: 350px !important;
    }
}

