.modal-dialog {
  
}

.modal-body {
    max-height: 65vh; /* Ajusta la altura máxima del contenido del modal */
    overflow-y: auto; /* Habilita el scroll vertical en el contenido del modal */
}


#accountList {
    max-height: 300px;
    overflow-y: auto;
}

    #accountList .list-group-item.active {
        background-color: #007bff;
        color: white;
    }


    p {
        color: black;
    }

#bankAccountsModal .form-control:disabled {
    background-color: rgb(128, 128, 128,0.3);
}


.form-check-input:checked {
    background-color: #28a745; /* Verde */
    border-color: #28a745;
}


/* Cambia el color del fondo del switch cuando está apagado */
#CuentaPropia.form-check-input ,
#Activo.form-check-input {
    background-color: white !important;
    border-color: black !important;
    width: 2rem; /* Ajuste de tamaño */
    height: 1rem;
    transform: scale(1.5); /* Escalado */
    padding-left: 0px !important;
}

    /* Cambia el color de fondo cuando está activado */
    #CuentaPropia.form-check-input:checked ,
    #Activo.form-check-input:checked {
        background-color: #28a745 !important; /* Verde */
        border-color: #28a745 !important;
    }

        /* Cambia la bolita del switch cuando está activado */
        #CuentaPropia.form-check-input:checked::after,
        #Activo.form-check-input:checked::after {
            background-color: red !important; /* Rojo */
        }

    /* Cambia la bolita del switch cuando está deshabilitado */
    #CuentaPropia.form-check-input:disabled::after,
    #Activo.form-check-input:disabled::after {
        background-color: rgb(128, 128, 128,0.7) !important; /* Gris */
    }



/* LOW: rojo degradado */
.progress-bar.low {
    background: linear-gradient(90deg, #ff6b6b, #dc3545);
}

/* MEDIUM: amarillo degradado */
.progress-bar.medium {
    background: linear-gradient(90deg, #ffe066, #ffc107);
}

/* HIGH: verde oscuro degradado */
.progress-bar.high {
    background: linear-gradient(90deg, #51d88a, #28a745);
}

.progress {
    background-color: #ff6b6b !important;
}

/* FULL: verde brillante degradado + efecto shimmer */
.progress-bar.full {
    background: linear-gradient(90deg, #e8fff0, #0b3d0b);
    background-size: 200% 100%;
    animation: shimmer 3s infinite linear;
    box-shadow: 0 0 10px #e8fff0, 0 0 20px #00cc66 inset, 0 0 30px #0b3d0b;
    font-weight: bold;
    color: white;
    text-align: center;
}

#progressBarContainerCobro {
    max-width: 70%; /* Ancho por defecto en pantallas grandes */
    align-content: center;
    margin: 0 auto; /* Centrado en el contenedor */
}

#cobrosPendientesCobro {
    font-size: 14px;
    color: #333; /* Color de texto */
}

#restante-labelCobro {
    font-size: 14px;
    color: #333;
}

#cobrosPendientes {
    font-size: 14px;
    color: #333; /* Color de texto */
}

#restante-label {
    font-size: 14px;
    color: #333;
}

#total-label {
    font-size: 16px;
    font-weight: bold;
    
    color: #333;
}


.progress {
    margin-bottom: 10px; /* Espaciado debajo de la barra de progreso */
}

#progressPercentageCobro {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    text-shadow: 0 0 2px #000;
}


@keyframes shimmer {
    0% {
        background-position: -100px;
    }

    50% {
        background-position: 200px;
    }

    100% {
        background-position: 450px;
    }
}





@media (max-width: 1000px) { /* Para pantallas más pequeñas, como dispositivos móviles */
    #progressBarContainerCobro {
        max-width: 90%; /* Establecer el 90% de ancho en pantallas pequeñas */
        margin-left: 25px !important;
    }
}


.comprobante-card {
    background-color: #f8f9fa;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    text-align: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comprobante-title {
    font-size: 14px;
    font-weight: bold;
    color: #999;
    margin-bottom: 5px;
}

.vista-previa-container {
    height: 220px;
    border: 2px solid #007bff; /* azul Bootstrap */
    border-radius: 8px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3); /* sombra azul */
    transition: all 0.3s ease-in-out;
}

.vista-previa {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 4px;
    cursor: pointer;
    display: none; /* por defecto no mostrar */
}



.btn-cancelar-imagen {
    display: block;
    margin: 0 auto;
    margin-top: 4px;
    font-size: 0.8rem;
}


#modalImagenAmpliada {
    display: none;
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.85);
   
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
}

    #modalImagenAmpliada img {
        max-width: 90vw;
        max-height: 90vh;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(255,255,255,0.3);
    }

    #modalImagenAmpliada::after {
        content: "✕";
        position: absolute;
        top: 20px;
        right: 40px;
        font-size: 36px;
        color: white;
        cursor: pointer;
    }

    .account-name-scroll {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}


.account-name-scroll {
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}

.scroll-inner {
    display: inline-block;
    white-space: nowrap;
    padding-left: 0;
    transition: transform 0.3s ease;
}

    .scroll-inner.scrolling {
        animation: marquee-click 6s linear infinite;
    }

@keyframes marquee-click {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


.modal-lg-custom {
    max-width: 800px;
}

.form-label {
    font-weight: 500;
    color: #333;
    margin-bottom: 4px;
}

.form-control,
.form-select {
    height: 38px;
    font-size: 14px;
    background-color: #fff;
    color: #000;
}

#ValordelaCuota {
    background-color: #dee2e6;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 1rem;
    color: #000;
}

.progress-wrapper {
    position: relative;
}

.checkbox-inline {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icono-casa span {
    font-size: 2rem;
    cursor: pointer;
}

@media (min-width: 576px) {
    .col-mobile-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (max-width: 575.98px) {
    .col-mobile-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

/*input {
    color: black !important;
}*/

.modal-cobranza {
    max-width: 1000px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .modal-cobranza {
        max-width: 95%;
    }
}


.form-select {
    white-space: normal !important;
    text-overflow: unset !important;
    overflow: visible !important;
}

#cobranzaModal .form-select {
    font-size: 0.875rem; /* o 14px */
}


.colorEncabezado {
    background: linear-gradient(to right, #005bea, #418bf9, #7baaf7);
    color: white !important;
    border: none !important
}


.alert-icon {
    animation: pulse 2s infinite;
    margin-right: 6px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.9;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.9;
    }
}
