body {
    background-color: #BDC3C7;
    background-image: url("../Imagenes/Fondo.jpeg");
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    width: 99.5%;
    height: 98%;
}

.titulo-font {
    display: block;
    opacity: 0.7 !important;
    background: blue;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255, 1) !important;
    font-size: 2vw;
    border-radius: 20px;
}



.seccion {
    display: flex;
}

.titulo-font:hover {
    opacity: 1 !important;
}

.img-seccion {
    width: 10vh;
    margin: 0px 30px 0px 0px;
}

.btn-seccion {
    margin-top: 10px;
    width: 10vw;
    height: 8vh;
    font-size: 30px;
    background: blue;
    border-radius: 20px;
    border-color: blue;
    color: white;
    font-size: 1.4vw;
}

.btn-seccion:hover 
{
        background: #0D62CF;
}
