.input-nuevomodif {
    display: flex;
    border: none;
    border-bottom: 10px;
    border-bottom: solid blue;
    width: 70%;
    display: block;
    position: relative;
    left: 17%;
    margin-bottom: 20px;
    color: black;
    text-align: center !important;
    font-size: 1.3vw;
    max-width: 500px !important;
    color: black !important;
    display:inline-block;
  
}

.table-container {
    overflow-x: auto;
}

    .input-nuevomodif:active {
        border: none;
        border-bottom: solid blue;
    }

    .input-nuevomodif::placeholder {
        color: black;
        opacity: 1 !important;
    }

    .input-nuevomodif:hover {
        outline: none !important;
    }

    .input-nuevomodif:focus {
        outline: none !important;
        border-bottom: solid red;
    }

.btnAccion {
    width: 2vw;
    min-width: 25px;
    background: #2E4053;
    margin-left: 10px;
}



.btneliminar:hover{
    cursor: pointer;
}

.btneditar {
    margin-right: 5px !important;
}

.btn-accion {
    background: #2E4053;
    border-color: blue;
    color: white;
    font-size: 0.8vw;
    height: 3.2vh;
    width: auto;
}

.btn-accion:hover {
        background: #0D62CF;
    }


@media (max-width: 1000px) {
    .input-nuevomodif {
        width: 90%;
        left: 8%;
        font-size: 3vw !important;
    }

    .lblNombreInput {
        font-size: 3vw !important;
    }

    select {
        font-size: 3vw !important;
    }

    .btnnuevo {
        width: 150px !important;
    }
}

@media (max-width: 450px) {
    .input-nuevomodif {
        width: 90% !important;
        left: 8% !important;
        font-size: 7vw !important;
    }

    .lblNombreInput {
        font-size: 7vw !important;
    }

    select {
        font-size: 7vw !important;
    }

    .btnnuevo {
        width: 200px !important;
    }

.modal {
	width: 90% !important;
    }
}

.input-container {
    position: relative;
    width: 100%;
}

.input-login {
    padding: 10px;
    box-sizing: border-box;
}


.show-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-80%);
    cursor: pointer;
}
