body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-attachment: fixed;
    background-position: center center;
    background-color: #1B2631;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    width: 99.5%;
    height: 98%;
    margin-left: 5px;
}

/* Set padding to keep content from hitting the edges a
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
table,
thead,
tr,
tbody,
th,
td {
    text-align: center !important;
}

.select-modal-personalizado {
    background: white !important;
    color: black !important;
}

option {
    background: white !important;
    color: black !important;
}

.dl-horizontal dt {
    white-space: normal;
}

.lblNombreInput {
    display: flex;
    justify-content: center;
    text-align: center !important;
    color: #05056C;
/*    font-size: 1.3vw;*/
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

input {
    color: white !important;
}




.titulo-font {
    opacity: 0.7 !important;
    background: #2E4053;
    text-align: center !important;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255, 1) !important;
    font-size: calc(1vh + 1vw);
    border-radius: 20px;
}



.seccion {
    display: flex;
    margin-left: 30px;
}




.lblcerrarSession {
    color: white;
    font-size: 0.8vw;
    justify-content: center;
    display: flex;
    text-align: center !important;
    position: absolute;
    left: 90%;
    top: 10%;
}

#modalLogin {
    width: calc(5vh + 5vw);
    position: absolute;
    left: 90%;
    top: 100px;
    z-index: 1;
}



.nav-user {
    opacity: 0.7 !important;
    background: #2E4053;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255, 1) !important;
    font-size: 2vw;
    border-radius: 20px;
    width: auto !important;
    height: calc(1.7vh + 1.7vw);
    padding-top: 5px;
}

    .nav-user:hover {
        opacity: 1 !important;
    }

.img-seccion {
    width: 5vh;
}

.btn-seccion {
    margin-top: 10px;
    width: 10vw;
    height: 8vh;
    background: #1B2631;
    border-radius: 20px;
    border-color: blue;
    color: white;
    font-size: 1.2vw;
    min-height: 25px;
    min-width: 35px;
}

.btn-seccion-rendimiento {
    margin-top: 10px;
    width: 10vw;
    height: 8vh;
    background: #1B2631;
    border-radius: 20px;
    border-color: blue;
    color: white;
    font-size: 0.8vw;
    min-height: 25px;
    min-width: 35px;
}


.btn-seccion:hover {
    background: #0D62CF;
}


.menu-secciones {
    display: flex;
    text-align: center;
    max-width: 100% !important;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    color: white;
}


td {
    color: white;
}

tr {
    color: white;
}

th {
    text-align: center;
}

table {
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #097CF7;
}


tbody tr {
    background-image: url(noise.png);
}

.general {
    border: 1px solid;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #2a303a;
    color: white;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #353c48;
    color: white;
}

.table-striped > thead > tr > th {
    background-color: #323844;
    color: white;
}

.dataTables_wrapper .dataTables_length select {
    margin-top: 10px;
}

.dataTables_filter {
    margin-top: 10px;
}

select {
    color: white !important;
    background: white;
}


h1, h2, h3, h4, h5 {
    color: black;
}

::placeholder {
    font-size: 1.2vw;
}

option {
    font-size: 1.2vw;
}


@media screen and (max-width: 1200px) {

    .cardTablePersonalizado {
        width: 97% !important;
        position: absolute;
        left: 50px;
        margin-top: 15px;
        border: none;
    }
}

@media screen and (max-width: 800px) {

    .cardTablePersonalizado {
        width: 96% !important;
        position: absolute;
        left: 50px;
        margin-top: 15px;
        border: none;
    }
}

@media screen and (max-width: 600px) {

    .cardTablePersonalizado {
        width: 95% !important;
        position: absolute;
        left: 50px;
        margin-top: 15px;
        border: none;
    }
}

@media screen and (max-width: 400px) {

    .cardTablePersonalizado {
        width: 94% !important;
        position: absolute;
        left: 50px;
        margin-top: 15px;
        border: none;
    }
}



@media screen and (max-width: 1000px) {
    .btn-seccion {
        width: 14vw;
        min-width: 70px;
        height: 10vh;
        font-size: 2.5vw;
    }

    .btn-seccion-rendimiento {
        width: 14vw;
        min-width: 70px;
        height: 10vh;
        font-size: 2.1vw;
    }
}

@media screen and (max-width: 450px) {
    .btn-seccion {
        font-size: 0.8vw !important;
    }

    .btn-seccion-rendimiento {
        font-size: 2.2vw;
    }
}



@media screen and (min-width: 800px) {

    .cerrar-sesion {
        margin-top: -20px !important;
    }
}




@media screen and (max-width: 540px) {
    .img-seccion {
        width: 3vh;
    }

    .btn-seccion {
        font-size: 2.2vw !important;
    }

    .btn-seccion-rendimiento {
        font-size: 2vw;
    }
}

#desplegable ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* color del fondo del contenedor */

#desplegable div {
    position: absolute;
    left: 0%;
    height: calc(1vh + 1vw);
    width: calc(1vh + 1vw);
}



    /* estilo predefinido al contenedor */

    #desplegable div a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 10px;
    }


    /* posicion del contenedor en la pagina */

    #desplegable div div {
        position: relative;
        float: left;
        margin: 0;
        padding: 0;
    }


        /* efecto del contenedor al pasar el mouse por encima */

        #desplegable div div:hover {
        }


    /* Quitarenos la visivilidad con display:none cuando no estemos encima */

    #desplegable div ul {
        width: calc(5vh + 5vw);
        display: none;
        position: absolute;
        top: 110%;
        left: 60%;
        background: white;
        color: black;
        border-radius: 30px;
        padding: 0;
        font-size: calc(0.5vh + 0.5vw);
        height: calc(0.8vh + 0.8vw);
        cursor: pointer;
    }


        /* Tamaño del contenido. AL estar al 100% el ancho se ajustara al ancho del contenedor */

        #desplegable div ul li {
            float: none;
            width: 100%;
        }


    /* Visualizaremos al pasar por encima el contenido de la lista o lo que queramos meter dentro. */

    #desplegable div div:hover > ul {
        display: block;
    }

.usuario {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: calc(0.7vh + 0.7vw);
    color: rgb(255, 255, 255, 1) !important;
    text-decoration: none;
    text-align: left !important;
    position: absolute;
    left: 160%;
    top: -70%;
    margin-top: -5px !important;
    min-width: 300px !important;
}

    .usuario a {
        text-decoration: none;
        color: white !important;
    }

    .usuario:hover {
        cursor: pointer;
    }



.userImg {
    height: calc(1vh + 1vw);
    width: calc(1vh + 1vw);
    max-height: 100px;
    margin-left: 15px;
    margin-top: 2px;
    position: absolute;
    left: 0%;
    top: -70%;
}

.btnacciones {
    border-radius: 10px;
}

    .btnacciones:hover {
        background: #0C0761;
    }

.input-text-area {
    width: 100% !important;
    max-width: 100% !important;
    border-color: blue;
    outline: none;
}

textarea:focus, input:focus {
    border-color: red;
}


.datatablepersonalizado {
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

.card-body {
    padding: 0; /* Elimina el padding si es necesario */
}

.table {
    width: 100% !important;
}

.direccion-link {
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Cambia el color del texto a tu preferencia */
}

td {
    color: white;
}

.dataTables_wrapper .dataTables_filter input {
    color: white;
}

tr {
    color: white;
}

th {
    text-align: center;
}

table {
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #097CF7;
}

tbody tr {
    background-image: url(noise.png);
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #2a303a;
    color: white;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #353c48;
    color: white;
}

.table-striped > thead > tr > th {
    background-color: #323844;
    color: white;
}

/* Cambia el color de fondo de todas las celdas, incluida la primera columna, en filas pares */
table.dataTable.display tbody tr:nth-child(even) td {
    background-color: #353c48;
}




table,
thead,
tr,
tbody,
th,
td {
    text-align: center !important;
}


.dataTables_wrapper .dataTables_length select {
    margin-top: 10px;
}



.dataTables_filter {
    margin-top: 10px;
}


thead input {
    background-color: white !important;
}

.datatablepersonalizado {
    width: 99% !important;
    max-width: auto !important;
    position: absolute !important;
    left: 12px !important;
    font-size: calc(0.3vw, 0.7vh) !important;
}

.dataTables_info {
    color: white !important;
}


label {
    color: white;
}


.dataTables_wrapper a {
    background: #E5E7E9 !important;
}

.card-body,
.card-header {
    background: #323844 !important;
    color: white;
}


.card {
    background-color: #1B2631 !important;
    border-radius: 50px;
}

.cardTablePersonalizado {
    width: 98%;
    position: absolute;
    left: 16px;
    margin-top: 15px;
    border: none;
}


.dataTables_wrapper a {
    background: none !important;
}



#notificationIcon {
    color: green;
}

.seleccionada {
    background-color: #065f8c !important;
    color: white !important;
}

a:hover {
    color: blanchedalmond !important;
}





.soporte {
    font-size: 14px;
}

.soporte-text {
    color: white;
}

.btn-wsp i {
    height: calc(1vh + 1vw);
    width: calc(1vh + 1vw);
    color: #25D366; /* Verde para WhatsApp */
    margin-left: -5px;

}

.btn-call i {
    height: calc(1vh + 1vw);
    width: calc(1vh + 1vw);
    color: #FF0000; /* Rojo para llamada */
    margin-left: -35px !important;
}

.btn-wsp, .btn-call {
    text-decoration: none;
}

    .btn-wsp:hover i, .btn-call:hover i {
        opacity: 0.8;
    }



 

.user-info:hover #desplegable ul {
    display: block; /* Mostrar menú al pasar el mouse */
}

.cerrar-sesion {
    cursor: pointer;
    color: red; /* Color del texto para "Cerrar Sesión" */
   
}





.menuUsuario {
    position: relative;
    left: 10px !important;
    margin: 0 !important;
    padding: 0 !important;
}


.nav-user {
    opacity: 0.7 !important;
    background: #2E4053;
    text-align: center;
    font-weight: bold;
    color: rgb(107, 120, 205, 1) !important;
    font-size: 1.7vw;
    border-radius: 20px;
    width: auto !important;
    height: calc(1.7vh + 1.7vw);
    padding-top: 5px;
}

    .nav-user:hover {
        opacity: 1 !important;
    }


.btnConfiguraciones {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
    font-size: 30px;
    color: white;
    width: 100%;
    outline: none;
    border: none;
    background-color: gray;
    border-radius: 10px;
    padding: 10px; /* Agrega algo de padding para un mejor aspecto */
    cursor: pointer;
    margin-bottom: 10px; /* Espacio entre los botones */
}

.list-item {
    color: red;
    background-color: gray;
    margin-bottom: 5px;
    text-align: center;
    width: 95%;
    height: 30px;
    position: relative;
    left: 2%;
    border-radius: 3px;
}

    .list-item:hover {
        background-color: dimgray;
    }

.btnModificarConfiguracion {
    border: none;
    background-color: blue;
    color: white;
    width: 35%;
    margin-left: 2px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 12px;
    padding: 0px 5px 5px 5px;
}



    .btnModificarConfiguracion:hover {
        background-color: darkblue;
    }


.btnCancelarConfiguracion {
    border: none;
    background-color: brown;
    color: white;
    width: 35%;
    margin-left: 2px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 12px;
    padding: 0px 5px 5px 5px;
}


    .btnCancelarConfiguracion:hover {
        background-color: darkred;
    }

.btnModificarConfiguracion-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    align-items: center; /* Centra el botón verticalmente (si es necesario) */
    width: 100%; /* Asegúrate de que el contenedor tome el ancho completo del modal */
    margin-bottom: 10px;
}

.btnAgregarConfiguracion-container {
    display: flex;
    justify-content: right; /* Centra el botón horizontalmente */
    align-items: center; /* Centra el botón verticalmente (si es necesario) */
    width: 100%; /* Asegúrate de que el contenedor tome el ancho completo del modal */
    margin-bottom: 10px;
    margin-top: 30px;
}

.btnAgregarConfiguracion {
    border: none;
    background-color: green;
    color: white;
    width: 30%;
    margin-left: 2px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 12px;
    margin-right: 30px;
}


.edit-icon {
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 5px;
    left: 10px;
    cursor: pointer;
}


.eliminar-icon {
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 5px;
    right: 20px;
    cursor: pointer;
}


.list-container {
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.btnConfiguraciones:hover {
    background-color: dimgray;
}

.btnConfiguraciones img {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    width: 60px;
    height: 60px;
}

.btnConfiguraciones span {
    flex-grow: 1; /* Permite que el texto ocupe el espacio restante */
    text-align: center; /* Centra el texto */
}

@media (max-width: 900px) {
    .nav-user {
        font-size: 2vw !important;
    }
}

@media (max-width: 700px) {
    .nav-user {
        font-size: 3vw !important;
    }
}

@media (max-width: 400px) {
    .nav-user {
        font-size: 4vw !important;
    }
}


#modalConfirmar{
    z-index: 99999;
}

#AdvertenciaModal {
    z-index: 99999;
}

#ExitoModal {
    z-index: 99999;
}

#ErrorModal {
    z-index: 99999;
}