#map {
    height: 50vh; /* Establece la altura al 50% del tamaño visible del viewport */
    width: 100%; /* Ocupa el 100% del ancho disponible */
    border: 3px solid rgb(128, 128, 128, 0.8); /* Borde negro semi-transparente */
}

#pac-input {
    margin-top: 10px;
    margin-left: 10px;
    width: calc(100% - 20px);
    height: 40px;
    font-size: 16px;
    border: 1px solid #d0d0d0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 0 12px;
    text-overflow: ellipsis;
    color: black !important;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(25% - 20px); /* 4 inputs por fila */
    max-width: calc(25% - 20px); /* 4 inputs por fila */
    box-sizing: border-box;
}

.input-wrapper {
    width: 100%;
}

.input-nuevo {
    border: none !important;
    border-bottom: 0px !important;
    border-bottom: solid blue !important;
    width: 100% !important;
    margin-bottom: 20px !important;
    color: black !important;
    text-align: center !important;
    font-size: 1vw !important;
    max-width: 800px !important;
    background: #1B2631 !important;
    color: white !important;
}

.lblcliente {
    text-align: center;
    
}


.full-width {
    flex: 1 1 100%;
    max-width: 100%;
}



@media (max-width: 1000px) {


    .input-nuevo {
        width: 100% !important;
        display: block !important;
        max-width: 1500px !important;
        font-size: 4vw !important;
    }
}

    @media (max-width: 1200px) {
        .input-group {
            flex: 1 1 calc(33.33% - 20px); /* 3 inputs por fila */
            max-width: calc(33.33% - 20px);
        }
    }

    @media (max-width: 800px) {
        .input-group {
            flex: 1 1 calc(50% - 20px); /* 2 inputs por fila */
            max-width: calc(50% - 20px);
        }
    }

    @media (max-width: 500px) {
        .input-group {
            flex: 1 1 100%; /* 1 input por fila */
            max-width: 100%;
            display: flex;
            justify-content: center; /* Centra el input en su contenedor */
        }
    }
