.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    border-radius: 5px;
    padding: 0px;
    text-align: center;
}

    .card img {
        max-width: 100%;
        height: auto;
    }

.buttons {
    margin-top: 10px;
}

.half-blue {
    background-color: #7c2ae8; /* Violeta */
    border-radius: 10px 10px 0px 0px;
    color: #6a0dad;
    height: 180px; /* Ajustar altura como desees */
    width: 100%; /* Ancho del 100% */
    position: relative; /* Agregado para posicionar elementos hijos */
    z-index: 1;
}

.half-white {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    color: #495057;
    height: 180px; /* Ajustar altura como desees */
    width: 100%; /* Ancho del 100% */
    position: relative; /* Agregado para posicionar elementos hijos */
    z-index: 1;
}

.input-nuevomodif {
    display: flex;
    border: none;
    border-bottom: 10px;
    border-bottom: solid blue;
    width: 70%;
    display: block;
    position: relative;
    left: 17%;
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    font-size: 1.3vw;
    max-width: 500px !important;
    color: black !important;
}

    .input-nuevomodif:active {
        border: none;
        border-bottom: solid blue;
    }

    .input-nuevomodif::placeholder {
        color: black;
        opacity: 1 !important;
    }

    .input-nuevomodif:hover {
        outline: none !important;
    }

    .input-nuevomodif:focus {
        outline: none !important;
        border-bottom: solid red;
    }


/* Estilos para la descripción y botones */
.card-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.card {
    border: none;
    border-radius: 30px 30px 10px 10px;
    padding: 0px;
    text-align: center;
}

.card-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}


.round-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid white;
    margin: 20px auto;
    background-size: 100%; /* La imagen se ajustará al 100% del redondel */
    background-position: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}


.icons-container {
    top: 30%;
    transform: translateY(-30%);
}

.icons-containereliminar {
    top: 45%;
    transform: translateY(-45%);
}

.btn {
    font-size: 1.5vh; /* Tamaño de fuente para los botones */
    
}

.texto-titulo {
    font-size: 1.5em; /* Tamaño de fuente inicial */

}


.edit-icon:hover,
.delete-icon:hover {
    cursor: pointer;
    font-size: 1.2em; /* Cambiar el tamaño del icono al pasar el mouse */
}

.edit-icon:hover {
    color: yellow; /* Cambiar el color del icono de editar al pasar el mouse */
}

.delete-icon:hover {
    color: red; /* Cambiar el color del icono de eliminar al pasar el mouse */
}



.full-width {
    width: 95% !important;
}

.botones {
    display: block; /* Utilizar flexbox para alinear los elementos */
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center; /* Centrar los elementos verticalmente */
    margin: 0 !important;

}

.form-check-input:checked {
    background-color: green;
    border-color: green;
}

.divFiltros {
    padding: 5px 5px 5px 5px;
    border: 3px solid;
    border: solid blue;
    display: flex;
    width: 100%;
    display: block;
    position: relative;
    margin-top: 20px;
    color: black;

    
}



.lblNombreInput {
    display: flex;
    justify-content: center;
    text-align: center !important;
    color: #05056C;
    font-size: 1vw;
}

.lblcliente {
    margin-left: 30px;
    font-size: 0.8vw;
}

.lblvendedor {
    margin-left: 7px;
    font-size: 0.7vw;
}


label {
    color: white;
}

.input-nuevo {
    border: none;
    border-bottom: 0px;
    border-bottom: solid blue;
    width: 50%;
    margin-bottom: 20px;
    color: black;
    text-align: center !important;
    font-size: 0.6vw;
    max-width: 150px !important;
    background: #1B2631 !important;
    color: white !important;
}

select {
    font-size: 0.8vw !important;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.9;
    filter: invert(0.9);
}


.input-checkbox {
    margin: 0px 0px 0px 0px !important;
}

.obs {
    max-width: 500px !important;
    width: 100% !important;
}

.input-nuevo:active {
    border: none;
    border-bottom: solid blue;
}

.input-nuevo::placeholder {
    opacity: 1 !important;
}

.input-nuevo:hover {
    outline: none !important;
}

.input-nuevo:focus {
    outline: none !important;
    border-bottom: solid red;
}

@media (max-width: 767px) {
    .botones {
        display: flex;
        
    }

    .ms-2{
        margin-left: 0px !important;
    }
    .half-white {
        height: 240px; /* Ajustar altura como desees */
    }
   
}

@media (max-width: 1000px) {


    .input-nuevo {
        width: 100% !important;
        display: block !important;
        max-width: 1500px !important;
        font-size: 4vw !important;
    }




    .lblcliente {
        font-size: 4vw !important;
        display: block;
    }

    select {
        max-width: 1500px !important;
        font-size: 4vw !important;
    }

    .btnnuevo {
        width: 150px !important;
    }

    .obs {
        width: 99% !important;
    }

    .lblNombreInput {
        font-size: 4vw !important;
    }

    .btnaccion {
        width: 150px !important;
    }


    .btnaccionp {
        width: 400px !important;
    }

    .dataTables_info {
        font-size: 2.7vw !important;
    }

    option {
        font-size: 2.7vw !important;
    }
}

@media (max-width: 600px) {


    #grdProductosVenta {
        font-size: 3vw !important;
    }

    .dataTables_info {
        font-size: 2.7vw !important;
    }

    .divProducto {
        display: block !important;
        position: relative !important;
        margin-left: 0px !important;
    }

    .input-nuevomodif {
        font-size: 4vw !important;
    }

    .lblNombreInput {
        font-size: 4vw !important;
    }

    .btnaccion {
        width: 175px !important;
    }

    .btnaccionp {
        width: 450px !important;
    }

    option {
        font-size: 3vw !important;
    }

    .half-white {
        height: 300px; /* Ajustar altura como desees */
    }

}

@media (max-width: 400px) {

    .lblNombreInput {
        font-size: 6vw !important;
    }

    .input-nuevomodif {
        font-size: 6vw !important;
    }

    .btnaccionp {
        width: 450px !important;
    }

    option {
        font-size: 5vw !important;
    }

   

}


@media (max-width: 300px) {


    .lblNombreInput {
        font-size: 8vw !important;
    }

    .input-nuevomodif {
        font-size: 8vw !important;
    }

    .btnaccion {
        width: 200px !important;
    }

    .btnaccionp {
        width: 450px !important;
    }
}

@media (max-width: 260px) {

    .divProducto {
        font-size: 5vw;
    }

    .btnaccion {
        width: 200px !important;
    }

    .btnaccionp {
        width: 350px !important;
    }
}

