
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Estilos/StockPendiente.css" rel="stylesheet" />
<link href="~/Content/Datatable/css/responsive.dataTables.min.css" rel="stylesheet" />



<body>

    <div id="Filtros" class="divFiltros" hidden>



        <label class="lblcliente">Vendedor</label>
        <select id="Vendedores" name="select" class="input-nuevo">
            <option value="" selected>Vendedor</option>
        </select>

        <label class="lblcliente">Estados</label>
        <select id="Estados" name="select" class="input-nuevo">
            <option value="" selected>Estado</option>
        </select>

        <label class="lblcliente">Asignación</label>
        <select id="Asignacion" name="select" class="input-nuevo">
            <option value="Todos">Todos</option>
            <option value="Usuario" selected>Usuario</option>
            <option value="Administrador">Administrador</option>
            <option value="Transferencia">Transferencia</option>
        </select>


        <label class="m-lg-2 lblcliente">Fecha:</label>
        <input type="date" placeholder="" value="" id="Fecha" class="input-nuevo" />

        <div class="vw-75 d-flex float-lg-end">
            <a class="btn btn-success btnaccion" id="aplicarFiltros" onclick="aplicarFiltros()">Aplicar</a>
        </div>
    </div>


    <div class="modal fade centered-modal-importar" id="modalEdit" tabindex="-1" aria-labelledby="modalEditLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="estilowpp modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditLabel">Modificar cantidad</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <input type="number" placeholder="Importe" value="0" id="idStock" class="input-nuevomodif" hidden />

                    <label class="lblNombreInput" id="lblImporte"> Cantidad: </label>

                    <input type="number" placeholder="Importe" value="0" id="Cantidad" class="input-nuevomodif" />
                    <label class="lblNombreInput text-danger mb-2 mt-0" id="errorImporteCobranza" hidden></label>


                </div>
                <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnaccion" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnRegistrarModificar" type="button" class="btn btn-success btnaccion" onclick="modificarStock()">Modificar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="divSeleccionarTodos" class="d-none">
        <p>Seleccionar Todos <input type="checkbox" class="mt-5" id="selectAllCheckbox"></p>
    </div>

    <div class="cards-container mt-5">
    </div>

    @*<div id="btnAceptarTodas" class="float-lg-start mt-2 mb-4 m-lg-2" style="display: none;">
            <a class="btn btn-success btnnuevo" onclick="aceptarStocks()">Aceptar Todas</a>
        </div>
        <div id="btnRechazarTodas" class="float-lg-start mt-2 mb-4" style="display: none;">
            <a class="btn btn-danger btnnuevo" onclick="rechazarStocks()">Rechazar Todas</a>
        </div>*@


    <div class="vw-75 d-flex float-lg-start mt-2 mb-4">
        <a id="btnAceptarTodas" class="btn btn-success btnnuevo me-2" onclick="aceptarStocks()" style="display: none;">Aceptar Todas</a>
        <a id="btnRechazarTodas" class="btn btn-danger btnnuevo" onclick="rechazarStocks()" style="display: none;">Rechazar Todas</a>
    </div>

</body>



<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/JavaScript/Utils/Utils.js"></script>
<link href="~/Content/font-awesome.css" rel="stylesheet" />

@section scripts{
    <script src="~/JavaScript/StockPendiente.js"></script>
}
