
@{
    ViewBag.Title = "Index";
}


<link href="~/Content/Datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Estilos/Productos.css" rel="stylesheet" />
<link href="~/Estilos/Ventas.css" rel="stylesheet" />

<link href="~/Content/Datatable/css/responsive.dataTables.min.css" rel="stylesheet" />


<body>

    @*<div class="vw-75 d-flex float-lg-end mt-2">
            <a class="btn btn-ocultarFiltros" id="ocultarFiltros" onclick="ocultarFiltros()">Filtrar</a>
        </div>*@
    <div class="row mt-4 table-bordered table-borderless datatablepersonalizado">



        <div id="Filtros" class="divFiltros" hidden>



            <label class="lblcliente">Vendedor</label>
            <select id="Vendedores" name="select" class="input-nuevo">
                <option value="" selected>Vendedor</option>
            </select>

            <label class="m-lg-2 lblcliente">Fecha Desde:</label>
            <input type="date" placeholder="" value="" id="FechaDesde" class="input-nuevo" />

            <label class="m-lg-2 lblcliente">Fecha Hasta:</label>
            <input type="date" placeholder="" value="" id="FechaHasta" class="input-nuevo" />

            <label class="m-lg-2 lblcliente">Fecha Limite Desde:</label>
            <input type="date" placeholder="" value="" id="FechaLimiteDesde" class="input-nuevo" />

            <label class="m-lg-2 lblcliente">Fecha Limite Hasta:</label>
            <input type="date" placeholder="" value="" id="FechaLimiteHasta" class="input-nuevo" />



            <label class="m-lg-2 lblcliente">Ventas Finalizadas:</label>
            <input type="checkbox" placeholder="" value="" id="VentaFinalizada" class="input-checkbox" />



            <div class="vw-75 d-flex float-lg-end mt-2">
                <a class="btn btn-success btnaccion" id="aplicarFiltros" onclick="aplicarFiltros()">Aplicar</a>
            </div>
        </div>



        <div class="col-sm-12 mt-2">


            <div class="card-body">
                <table id="grdVentas" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Cliente</th>
                            <th class="text-center">Dni</th>
                            <th class="text-center">Direccion</th>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Cuota</th>
                            <th class="text-center">Entrega</th>
                            <th class="text-center">Restante</th>
                            <th class="text-center">Cobro</th>
                            <th class="text-center">Limite</th>
                            <th class="text-center">V</th>
                            <th class="text-center">Observacion</th>
                            <th class="text-center">Acciones</th>
                    </thead>


                </table>

                <div class="vw-75 d-flex float-lg-end mt-2 mb-4">
                    <a class="btn btn-success btnaccionp" id="exportacionExcel" onclick="exportarExcel()" hidden>Exportar Datos</a>
                    <a class="btn btn-primary ms-2 btnaccionp" onclick="nuevaVenta()">Nueva Venta</a>
                </div>


            </div>
        </div>


    </div>


    <div class="modal fade centered-modal-importar" id="modalWhatssap" tabindex="-1" aria-labelledby="modalWhatssapLabel" aria-hidden="true">
        <div class="modal-dialog estilowpp">
            <div class="estilowpp modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalWhatssapLabel">Enviar mensaje por whatssap</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input type="Text" id="idClienteWhatssap" class="input-nuevomodif" hidden />
                    <input type="Text" placeholder="Escribe el mensaje" id="mensajewsp" class="input-whatssap" />


                </div>
                <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnaccion" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnRegistrarModificar" type="button" class="btn btn-primary btnaccion" onclick="enviarWhatssap()">Enviar</button>
                </div>
            </div>
        </div>
    </div>




</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="~/Scripts/xlsx.full.min.js.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<link href="~/Content/font-awesome.css" rel="stylesheet" />


@section scripts{
    <script src="~/JavaScript/Ventas.js"></script>
}
