
@{
    ViewBag.Title = "Index";
}


<link href="~/Content/Datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Estilos/Productos.css" rel="stylesheet" />
<link href="~/Content/Datatable/css/responsive.dataTables.min.css" rel="stylesheet" />


<body>

    @if (@ViewData["ErrorPermisos"] == null)
    {

        <div class="divStock" id="divStock" hidden>
            <label class="" id="">Dinero en stock: </label>
            <label class="" id="precioventa">0</label>
        </div>

        <div class="col-lg-12">
            <div class="card cardTablePersonalizado">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Productos</span>
                    <div class="dropdown ms-auto">
                        <button class="btn btn-secondary dropdown-toggle d-flex align-items-center" type="button" id="dropdownColumnas" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cog me-2"></i> Config. Columnas
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownColumnas" id="configColumnasMenu">
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <table class="display nowrap" id="grdProductos" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">Imagen</th>
                                <th class="text-center">Codigo</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Categoria</th>
                                <th class="text-center">Stock</th>
                                <th class="text-center">Precio Compra</th>
                                <th class="text-center">Total</th>
                                <th class="text-center">Precio Venta</th>
                                <th class="text-center">Porc. Venta</th>
                                <th class="text-center">Dias Vencimiento</th>
                                <th class="text-center">Activo</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí va el contenido de tu datatable -->
                        </tbody>
                    </table>
                </div>


                <div id="botonesAcciones" class="d-flex justify-content-end mt-2 mb-4">
                    <a id="btnStockGeneral" class="btn btn-info btnnuevo me-2" onclick="abrirstockGeneral()">Stock General</a>
                    <a id="btnImportarDatos" class="btn btn-success me-2" onclick="abrirmodalimportacionmasiva()" hidden>Importar Datos</a>
                    <a id="btnNuevo" class="btn btn-primary btnnuevo" onclick="abrirmodal()" hidden>Nuevo</a>
                </div>


            </div>

        </div>


    }
    else
    {
        <h2 class="text-danger">Error: No tienes permisos para acceder a esta pantalla</h2>
    }

</body>



<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="productoModal" tabindex="-1" aria-labelledby="productoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-producto">
        <div class="modal-content">
            <div class="modal-header colorEncabezado">
                <h5 class="modal-title fw-bold text-white" id="productoModalLabel">Registrar nuevo producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="row g-3">
                        <input type="text" id="IdProducto" hidden />

                        <div class="col-6">
                            <label for="Codigo" class="form-label text-nowrap small  text-black">Código</label>
                            <input type="text" id="Codigo" class="form-control form-control-sm text-dark text-nowrap" />
                        </div>

                        <div class="col-6">
                            <label for="Nombre" class="form-label text-nowrap small text-black">Nombre</label>
                            <input type="text" id="Nombre" class="form-control form-control-sm text-dark text-nowrap" />
                        </div>

                        <div class="col-6">
                            <label for="Categorias" class="form-label text-nowrap small  text-black">Categoría</label>
                            <select id="Categorias" class="form-select form-select-sm text-dark text-nowrap">
                                <option value="" selected>Seleccione Categoría</option>
                            </select>
                        </div>

                        <div class="col-6">
                            <label for="Stock" class="form-label text-nowrap small  text-black">Stock</label>
                            <input type="text" id="Stock" class="form-control form-control-sm text-dark text-nowrap" />
                        </div>

                        <div class="col-6">
                            <label for="PrecioCompra" class="form-label text-nowrap small  text-black">P. Compra</label>
                            <input type="text" id="PrecioCompra" class="form-control form-control-sm text-dark text-nowrap" />
                        </div>

                        <div class="col-6">
                            <label for="PrecioVenta" class="form-label text-nowrap small  text-black">P. Venta</label>
                            <input type="text" id="PrecioVenta" class="form-control form-control-sm text-dark text-nowrap" />
                        </div>

                        <div class="col-6">
                            <label for="PorcVenta" class="form-label text-nowrap small  text-black">Porcentaje de Venta</label>
                            <input type="text" id="PorcVenta" class="form-control form-control-sm text-dark text-nowrap" />
                        </div>


                        <div class="col-6">
                            <label for="DiasVencimiento" class="form-label text-nowrap small  text-black">Dias de vencimiento</label>
                            <input type="text" id="DiasVencimiento" class="form-control form-control-sm text-dark text-nowrap" />
                        </div>

                        <div class="col-12">
                            <div class="mb-1">
                                <label for="Imagen" class="form-label fw-semibold  text-black">Imagen</label>
                            </div>
                            <div class="border rounded p-3 d-flex align-items-center justify-content-start gap-3 flex-wrap">
                                <img id="imgProducto" src="" class="rounded" style="width: 50px; height: 50px; cursor: pointer;" onclick="openModal(this.src)" />
                                <input id="Imagen" class="form-control form-control-sm" type="file" name="adjunto" accept=".pdf,.jpg,.png" multiple />
                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="borrarImagen()">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <p id="imgProd" hidden></p>
                        </div>

                        <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnRegistrarModificar" type="button" class="btn btn-primary" onclick="AccionBtn()">Registrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true" style="z-index: 99999999;">
    <div class="modal-dialog" role="document" style="z-index: 99999999;">
        <div class="modal-content" style="z-index: 99999999;">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Imagen Ampliada</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img id="modalImage" src="" class="img-fluid" alt="Imagen Ampliada" />
            </div>
        </div>
    </div>
</div>


<div class="modal fade centered-modal-importar" id="modalImportacionMasiva" tabindex="-1" aria-labelledby="modalImportacionMasivaLabel" aria-hidden="true">
    <div class="modal-dialog estilowpp">
        <div class="estilowpp modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="modalImportacionMasivaLabel">Importacion Masiva</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="divArchivo">
                    <h5>Archivo</h5>
                    <input id="fileImportacionMasiva" class="input-importacionmasiva" type="file" placeholder="" name="adjunto" accept=".xlsx" />

                    <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>

                </div>

            </div>
            <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnRegistrarModificar" type="button" class="btn btn-primary" onclick="enviarImportacionMasiva()">Importar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="nuevoStockModal" tabindex="-1" aria-labelledby="nuevoStockModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevoStockModalLabel">Añadir producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input type="Text" id="IdProductoStock" class="input-nuevomodif" hidden />


                <input type="text" id="ProductoStock" class="input-nuevomodif" disabled /> <!-- Desactivado -->
                <!-- Cantidad (no editable) -->
                <label class="lblNombreInput">Cantidad</label>
                <input type="number" value="1" id="CantidadStock" class="input-nuevomodif" disabled /> <!-- Desactivado -->
                <!-- Nueva sección con cantidad nueva -->
                <label id="lblAgregarQuitar" class="lblNombreInput mt-3">Agregar / Quitar</label>
                <div class="d-flex justify-content-center">
                    <!-- Botón Quitar a la izquierda -->
                    <button type="button" id="btnQuitar" class="btn btn-danger" onclick="restarStockCantidad('Quitar')">Quitar</button>

                    <!-- Campo de Cantidad Nueva -->
                    <input type="number" id="CantidadNuevaStock" value="1" class="input-nuevomodifCantidadNueva text-center" />

                    <!-- Botón Agregar a la derecha -->
                    <button type="button" id="btnAgregar" class="btn btn-success" onclick="agregarStockCantidad('Agregar')">Agregar</button>
                </div>



            </div>
            <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



@*<script src="~/Content/Datatable/js/jquery-3.5.1.js"></script>
<script src="~/JavaScript/Utils/Utils.js"></script>
<script src="~/Content/Datatable/js/jquery.dataTables.min.js"></script>
<script src="~/Content/Datatable/js/dataTables.responsive.min.js"></script>

<link href="~/Content/font-awesome.css" rel="stylesheet" />
@section scripts{
    <script src="~/JavaScript/Productos.js?v=1.7"></script>
}*@



<script src="~/Content/Datatable/js/jquery-3.5.1.js"></script>
<script src="~/JavaScript/Utils/Utils.js"></script>
<script src="~/Content/Datatable/js/jquery.dataTables.min.js"></script>

<script src="~/Content/Datatable/js/dataTables.responsive.min.js"></script>

<script src="~/Scripts/xlsx.full.min.js.js"></script>

@section scripts{
    <script src="~/JavaScript/Productos.js?v=1.8"></script>
    }